@(
  config: ViewConfig,
  maybeTeamId: Option[String]
)(implicit messages: Messages, r: RequestHeader)

@page.main("Dashboard", config, Seq(NavItem.dashboard(link = false, maybeTeamId))) {
  <div id="content" class="flex-row-cascade">
    <div id="dashboardContainer" class="flex-row-cascade"></div>

    <script src='@config.assets.getWebpackBundle("vendor.js")'></script>
    <script src="@routes.DashboardController.index(
      teamId = maybeTeamId
    )"></script>
    <script src='@config.assets.getWebpackBundle("dashboard.js")'></script>
  </div>
}
