@(
  config: ViewConfig,
  dataRoute: Call
)(implicit messages: Messages, r: RequestHeader)

@page.main("Environment variables", config, selectedNav = "settings", includeJsConfig = false) {
  <div id="content" class="content flex-row-cascade">
    <div id="environmentVariableList" class="flex-row-cascade"></div>
    <script src='@RemoteAssets.getUrl("lib/requirejs/require.min.js")'></script>
    <script src="@dataRoute"></script>
    <script src='@RemoteAssets.getUrl("javascripts/environment_variables/loader.js")'></script>
  </div>
}
