@(
  config: ViewConfig,
  maybeTeam: Option[models.team.Team],
  message: String
  )(implicit messages: Messages, r: RequestHeader)

@page.main(
  "Authentication successful",
  config,
  bodyClass = "bg-white",
  navClass = "container-narrow container-c",
  hideNav = true
) {
  <div id="content" class="content">
    <div class="bg-black type-white pvxxl border-emphasis-bottom border-pink">
      <div class="container container-narrow container-c pvxxxxl mobile-pvxl">
        <h1 class="mobile-mtn">
          Authentication successful
        </h1>
      </div>
    </div>
    <div class="bg-white">
      <div class="container container-narrow container-c pvxxxl mobile-pvl">
        <div class="columns">
          <div class="column column-three-quarters">
            <p>
              @message
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
}
