@import models.accounts.oauth1application.OAuth1Application
@import helper._

@(
  config: ViewConfig,
  maybeTeam: Option[models.team.Team],
  oauth1Application: OAuth1Application
)(implicit messages: Messages, r: RequestHeader)

@page.main(
  "Authentication successful",
  config,
  bodyClass = "bg-white",
  navClass = "container-narrow container-c",
  hideNav = true
) {
  <div id="content" class="content">
    <div class="bg-black type-white pvxxl border-emphasis-bottom border-pink">
      <div class="container container-narrow container-c pvxxxxl mobile-pvxl">
        <h1 class="mobile-mtn">
          Confirm token sharing
        </h1>
      </div>
    </div>
    <div class="bg-white">
      <div class="container container-narrow container-c pvxxxl mobile-pvl">
        <div class="columns">
          <div class="column column-three-quarters">
            <form method="POST" action="@{controllers.web.settings.routes.IntegrationsController.doShareMyOAuth1Token(oauth1Application.id, maybeTeam.map(_.id))}">
              @CSRF.formField
              <input type="submit" value="Share my token"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
}
