.ctags
.cache
.DS_Store
.eclipse
.sbtserver/
bin/
core/
/db
/lib/
/logs/
/modules
/project/project
/project/target
/project/.sbtserver
/target
tmp/
test-result
server.pid
*.eml
/dist/
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
activator
node_modules
/conf/version.conf
tags
actw
.byebug_history
/.sbtserver
**/npm-debug.log
