.ctags
.cache
.DS_Store
.eclipse
.scala_history
.ivy2/
.oracle_jre_usage/
.sbt/
.sbtserver/
bin/
core/
/db
/lib/
/logs/
/modules
/project/project
/project/target
/project/.sbtserver
/target
tmp/
test-result
server.pid
*.eml
/dist/
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
activator
node_modules
/conf/version.conf
tags
actw
**/npm-debug.log
