#!/bin/bash

JAVA_OPTS='-Dconfig.file=conf/development.conf' \
API_BASE_URL='' \
AWS_ACCESS_KEY= \
AWS_SECRET_KEY='' \
AWS_ROLE='' \
GITHUB_REPO_TOKEN='' \
ELLIPSIS_DB_PASSWORD='' \
SLACK_CLIENT_ID='' \
SLACK_CLIENT_SECRET= \
SLACK_REDIRECT_URL=$API_BASE_URL/authenticate/slack \
activator "$@"
