version: '2'
services:
  memcached:
    image: memcached
  postgres:
    image: postgres
    volumes:
      - ~/db/pgdata:/pgdata
      - ./deploy/dev/db/setup_new_db.sql:/docker-entrypoint-initdb.d/setup_new_db.sql
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=ellipsis
      - PGDATA=/pgdata
  elasticsearch:
    image: elasticsearch:5.3
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - ~/db/esdata:/usr/share/elasticsearch/data
      - ./deploy/dev/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
  kibana:
    image: kibana:5.3
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
    links:
      - elasticsearch
  es-head:
    image: mobz/elasticsearch-head:5
    ports:
      - "9100:9100"
    links:
      - elasticsearch


  # I still cannot make the playapp run in a container yet.
  # I am keeping this for reference
  #
  # playapp:
  #   build: ./docker_files/playapp/
  #   volumes:
  #     - .:/home/ellipsis
  #   command: /bin/bash
  #   tty: true
  #   stdin_open: true
  #   environment:
  #     - DB_HOST=postgres
  #     - DB_PORT=5432
  #     - MEMCACHED_HOST=memcached
  #     - MEMCACHED_PORT=11211
  #   volumes_from:
  #    - activator_cache
  # activator_cache:
  #   volumes:
  #     - /root/.ivy2
  #     - /root/.sbt
  #   image: busybox
  #   command: /bin/sh
  #   stdin_open: true
  #   ports:
  #     - "9000:9000"
  # command: /home/ellipsis/code/actw run
