@(
  config: ViewConfig,
  scopes: String,
  clientId: String,
  redirectUrl: String
)(implicit r: RequestHeader, m: Messages)

@page.main("Add to Slack", config,
  bodyClass = "bg-light",
  navClass = "container-narrow container-c",
  hideNav = true) {

  <div id="content">
    <div class="bg-black type-white border-emphasis-bottom border-pink">
      <div class="container container-narrow container-c pvxxxxl mobile-pvxl">

        <h1 class="mobile-mtn">Get started with Ellipsis</h1>

        <p>
          <span class="type-pink-light">To use Ellipsis, you need to add it to your Slack workspace. </span>
        </p>

        <div class="mtxl">
          <div class="display-inline-block align-m mrm mbm">
            <label id="agreement-checkbox-label" for="agreement-checkbox" class="checkbox-button checkbox-button-l button-inverted">
              <input id="agreement-checkbox" type="checkbox" value="I agree" class="man mrs">
              <span id="reminder">
                <span>I agree to the </span>
                <a target="legal" href="@routes.LegalController.privacyPolicy()" class="link-light-blue">privacy policy</a>
                <span> and </span>
                <a target="legal" href="@routes.LegalController.userAgreement()" class="link-light-blue">user agreement.</a>
              </span>
            </label>
          </div><div class="display-inline-block align-m mbm">
            <div id="no-agreement-container" class="fade-in">
              <button id="no-agreement-button" type="button" class="button button-shrink button-slack button-l" disabled>
                <span class="display-inline-block align-t mrs">@views.html.shared.svg.slackLogoMark()</span>
                <span class="display-inline-block align-t">Add to Slack</span>
              </button>
            </div>

            <div id="agreement-container" class="display-none fade-in">
              <a href="https://slack.com/oauth/authorize?scope=@scopes&amp;client_id=@clientId&amp;redirect_uri=@redirectUrl"
              class="button button-shrink button-slack button-l">
                <span class="display-inline-block align-t mrs">@views.html.shared.svg.slackLogoMark()</span>
                <span class="display-inline-block align-t">Add to Slack</span>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="bg-white">
      <div class="container container-narrow container-c pvxxxl mobile-pvl">

        <h2 class="mtn">What is Ellipsis?</h2>

        <p>
          Ellipsis is an assistant that can perform tasks and provide information in response to your messages in chat.
        </p>

        <p>
          Install useful skills, customize them, and create new workflows from scratch. Then speak to Ellipsis whenever you need.
        </p>

        <h3>Quick setup</h3>

        <div class="position-relative mv type-m">
          <span class="box-number bg-pink type-white mrm">1</span>
          <span>Add Ellipsis to your Slack workspace</span>
        </div>

        <div class="position-relative mvl type-m">
          <span class="box-number bg-pink type-white mrm">2</span>
          <span>Invite your new bot to any Slack channel</span>
        </div>

        <div class="position-relative mvl type-m">
          <span class="box-number bg-pink type-white mrm">3</span>
          <span>Type <span class="box-chat box-chat-selected type-white">@@ellipsis help</span> in the channel</span>
        </div>

      </div>
    </div>
  </div>
  <script src="@config.assets.getWebpackBundle("add_to_slack.js")"></script>
}
