# This script adds a Nginx config file in the config.d directory.
# Since Nginx uses the first server directory that matches our configuration
# overwrites the default EB configuration. In this way we are not deleting
# the default configuration file /etc/nginx/conf.d/elasticbeanstalk-nginx-docker-upstream.conf
#
# References:
#   https://medium.com/trisfera/getting-to-know-and-love-aws-elastic-beanstalk-configuration-files-ebextensions-9a4502a26e3c
#   http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_nodejs.container.html#nodejs-platform-proxy
#
files:
  "/etc/nginx/conf.d/01_playapp_proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      #
      # This server directory is based in the default one in /etc/nginx/conf.d/elasticbeanstalk-nginx-docker-upstream.conf
      #
      server {
        listen 80;

        gzip on;
        gzip_comp_level 4;
        gzip_types text/html text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

          if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
              set $year $1;
              set $month $2;
              set $day $3;
              set $hour $4;
          }
          access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;

          access_log /var/log/nginx/access.log;

          location / {
              proxy_pass            http://docker;
              proxy_http_version    1.1;

              proxy_set_header    Connection          $connection_upgrade;
              proxy_set_header    Upgrade             $http_upgrade;
              proxy_set_header    Host                $host;
              proxy_set_header    X-Real-IP           $remote_addr;
              proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
          }

          location /health_check {
             access_log off;
          }
      }


container_commands:
  01_reload_nginx:
    command: "sudo service nginx reload"
