files:
  "/etc/awslogs/config/ellipsis.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/log/ellipsis/application.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/ellipsis/applicaiton.log"]]}`
      log_stream_name = {instance_id}
      file = var/log/ellipsis/applicaiton.log*
