commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_notify_deploy_completed.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env sh
      curl -d teamId=ZyJ_53fDR1mybsPBI5keTQ -d message=aws+deploy+complete -d responseContext=slack -d channel=dev -d token=$ELLIPSIS_DEPLOY_COMPLETE_TOKEN "https://bot.ellipsis.ai/api/post_message"
