commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_notify_deploy_completed.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      curl --data "teamId=ZyJ_53fDR1mybsPBI5keTQ&message=aws+deploy+complete&responseContext=slack&channel=dev&token=$ELLIPSIS_DEPLOY_COMPLETE_TOKEN" "https://bot.ellipsis.ai/api/post_message"
$ELLIPSIS_DEPLOY_COMPLETE_TOKEN
