@(
  missingFunctions: Seq[String],
  currentFunctions: Seq[String],
  obsoleteFunctions: Seq[String]
  )(implicit r: RequestHeader)

@import helper._

<p>@missingFunctions.length missing functions:</p>
<ul>
  @missingFunctions.map { fn =>
    <li>@fn</li>
  }
</ul>

<p>@currentFunctions.length current functions:</p>
<form action="@routes.AdminController.fixUpAllVersions()" method="POST">
  @CSRF.formField
  <input type="submit" value="Fix all versions"/>
</form>
<ul>
  @currentFunctions.map { fn =>
    <li>
      @fn
      <form action="@routes.AdminController.redeploy(fn)" method="POST">
        @CSRF.formField
        <input type="submit" value="Redeploy"/>
      </form>
    </li>
  }
</ul>

<p>@obsoleteFunctions.length obsolete functions:</p>
<ul>
  @obsoleteFunctions.map { fn =>
    <li>@fn</li>
  }
</ul>
