@(
  config: ViewConfig,
  maybeScheduledId: Option[String],
  maybeNewSchedule: Option[Boolean],
  maybeChannelId: Option[String],
  maybeTeamId: Option[String],
  maybeForceAdmin: Option[Boolean]
)(implicit messages: Messages, r: RequestHeader)

@page.main("Scheduling", config, Seq(NavItem.scheduling(link = false, None))) {
  <div id="content" class="flex-row-cascade">
    <div id="scheduling" class="flex-row-cascade"></div>

    <script src='@config.assets.getWebpackBundle("vendor.js")'></script>
    <script src="@routes.ScheduledActionsController.index(maybeScheduledId, maybeNewSchedule, maybeChannelId, maybeTeamId, maybeForceAdmin)"></script>
    <script src='@config.assets.getWebpackBundle("scheduling.js")'></script>
  </div>
}
