@(
  config: ViewConfig
)(implicit r: RequestHeader, m: Messages)

@page.main("Styleguide colors", config) {
  <div>
    <div id="colorContainer"></div>
    @* Re-include the CSS from the app server URL so it can be read by JS *@
    <link rel='stylesheet' href='@routes.RemoteAssets.getAsset("stylesheets/main.css").url'>
    <script src='@RemoteAssets.getUrl("lib/requirejs/require.min.js")'></script>
    <script src='@routes.StyleguideController.colors()'></script>
    <script src='@RemoteAssets.getUrl("javascripts/styleguide/colors/loader.js")'></script>
  </div>
}
