<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} %coloredLevel %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>
  <appender name="JSON_IN_FILE" class="ch.qos.logback.core.FileAppender">
    <file>/var/log/ellipsis/application.json</file>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"></encoder>
  </appender>
  <appender name="JSON_IN_FILE2" class="ch.qos.logback.core.FileAppender">
    <file>/var/app/current/logs/application.log</file>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"></encoder>
  </appender>


  <logger name="play" level="WARN" />
  <logger name="application" level="INFO" />
  <logger name="slick.jdbc" level="WARN" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

  <root level="WARN">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="JSON_IN_FILE" />
    <appender-ref ref="JSON_IN_FILE2" />
  </root>

</configuration>
