@(
  config: ViewConfig,
  navItems: Seq[NavItem],
  hideNav: Boolean,
  navClass: String = ""
)(implicit r: RequestHeader)
@navPadding = @{ if (hideNav) { "container container-wide" } else { "" } }
@navBorderColorForPage = @{if (hideNav) "" else " border-bottom-thick border-light "}
<div class="@navPadding @navClass">
  <div class="flex-columns flex-columns-wrap">
    <div class="flex-column flex-column-left @navBorderColorForPage">
      <div class="flex-columns flex-columns-wrap">
        <div class="flex-column flex-column-left flex-column-shrink">
          @if(!hideNav) {
            <button id="main-nav-button" type="button"
            class="border-radius-bottom-left-none button-subtle button-l button-dropdown-trigger
                button-dropdown-trigger-l button-dropdown-trigger-no-icon mls mrneg-divider"
            >
              <span class="display-block">
              @shared.mainLogo(config, includeArrow = true)
              </span>
            </button><div class="display-inline-block height-button-l align-t color-black-translucent">
            @shared.svg.divider()
            </div>
            <div class="position-relative type-black mls">
              <ul class="type-s popup popup-dropdown-menu fade-in display-none" id="main-nav-menu">
                <li>
                  <a class="button button-dropdown-item plm"
                  href='@routes.ApplicationController.index(config.maybeAdminAccessTeamId)'
                  >Skills</a>
                </li>

                @if(config.isAdminUser || config.maybeTargetTeamId.contains("SZ4Mq9D_ROSPLVoxoinrhQ")) {
                  <li>
                    <a class="button button-dropdown-item plm"
                    href='@routes.DashboardController.usage(config.maybeAdminAccessTeamId)'
                    >Dashboard</a>
                  </li>
                }

                <li>
                  <a class="button button-dropdown-item plm"
                  href='@routes.ScheduledActionsController.index(
                    selectedId = None,
                    newSchedule = None,
                    channelId = None,
                    teamId = config.maybeAdminAccessTeamId,
                    forceAdmin = None
                  )'
                  >Scheduling</a>
                </li>

                <li>
                  <a class="button button-dropdown-item plm"
                  href='@controllers.web.settings.routes.RegionalSettingsController.index(config.maybeAdminAccessTeamId)'
                  >Settings</a>
                </li>

                <li id="header-feedback">
                  @* Placeholder button replaced by React Page *@
                  <button class="button button-dropdown-item plm" type="button">Feedback</button>
                </li>
              </ul>
            </div>
          } else {
            <div class="height-logo mvm type-ml">@shared.mainLogo(config, inverted = true)</div>
          }
        </div>
        <div class="flex-column flex-column-left" id="mainNavItems">
          <div class="columns">
            @navItems.map { navItem =>
              @shared.navItem(navItem)
            }
          </div>
        </div>
      </div>
    </div>
    <div class="flex-column flex-column-right align-r pll @navBorderColorForPage">
      <div class="flex-columns">
        <div class="flex-column flex-column-left prs" id="mainNavActions"></div>
        @config.maybeTeamAccess.map { teamAccess =>
          <div class="flex-column flex-column-shrink flex-column-right pts prs">
            @shared.teamMenu(teamAccess)
          </div>
        }
      </div>
    </div>
  </div>
</div>
