@(
  config: ViewConfig,
  navItems: Seq[(NavItem, Int)],
  hideNav: Boolean,
  navClass: String = ""
)(implicit r: RequestHeader)
<div class="container container-wide phs @navClass">
  <div class="columns columns-elastic">
    <div class="column column-expand">
      <div class="height-button-l">
      <div class="column prn display-inline-block align-t">
        @if(!hideNav) {
          <button id="main-nav-button" type="button"
            class="border-radius-bottom-left-none button-subtle button-l button-dropdown-trigger
              button-dropdown-trigger-l button-dropdown-trigger-no-icon"
          >
            @shared.mainLogo(config)
            <span class="type-pink display-inline-block align-t mhs">▾</span>
          </button>
        } else {
          <div class="height-logo mtm">
            @shared.mainLogo(config, inverted = true)
          </div>
        }
        <div class="position-relative type-black">
          <ul class="type-s popup popup-dropdown-menu fade-in display-none" id="main-nav-menu">
            <li>
              <a class="button button-dropdown-item plm"
            href='@routes.ApplicationController.index(config.maybeTeamAccess.flatMap(_.maybeAdminAccessToTeamId))'
              >Skills</a>
            </li>

            <li>
              <a class="button button-dropdown-item plm"
            href='@routes.ScheduledActionsController.index(None, None, config.maybeTeamAccess.flatMap(_.maybeAdminAccessToTeamId))'
              >Scheduling</a>
            </li>

            <li>
              <a class="button button-dropdown-item plm"
            href='@controllers.web.settings.routes.RegionalSettingsController.index(config.maybeTeamAccess.flatMap(_.maybeAdminAccessToTeamId))'
              >Settings</a>
            </li>

            <li id="header-feedback">
              @* Placeholder button replaced by React Page *@
              <button class="button button-dropdown-item plm" type="button">Feedback</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="column prn display-inline-block align-t" id="mainNavItems">
        @navItems.map { case(navItem, i) =>
          @shared.navItem(navItem, i)
        }
      </div>
    </div>
    </div>
    @config.maybeTeamAccess.map { teamAccess => @shared.teamMenu(teamAccess) }
  </div>
</div>
