@(
  config: ViewConfig,
  inverted: Boolean = false,
  includeArrow: Boolean = false
)(implicit r: RequestHeader)
@l(hideSymbol: Boolean = false, hideText: Boolean = false) = @{
  if (inverted) {
    shared.svg.logo(hideSymbol, hideText)
  } else {
    shared.svg.logoBlack(hideSymbol, hideText)
  }
}
@if(config.isDevelopment) {
  <span class="display-inline-block mrs type-label type-white bg-blue border-radius phxs pvs height height-logo align-t">
    Dev
  </span><span class="display-inline-block mobile-display-none height-logo align-t">
    @l(hideSymbol = true)
  </span>@if(includeArrow) {<span class="display-inline-block type-pink align-t mhs">▾</span>}
} else {
  @if(config.maybeTeamAccess.exists(_.isAdminAccess)) {
    <span class="display-inline-block type-l mobile-ptxs pbxs">👻</span>} else {
    <span class="display-inline-block align-t mobile-display-none height-logo mtneg1">
      @l()
    </span><span class="display-inline-block align-t mobile-display-only height-logo-s">
      @l(hideText = true)
    </span>}@if(includeArrow) {<span class="display-inline-block type-pink align-t mhs">▾</span>}
}
