@import models.behaviors.managedbehaviorgroup.ManagedBehaviorGroup
@import models.team.Team
@import json.{BehaviorGroupData, UserData}
@import helper._

@(
  config: ViewConfig,
  team: Team,
  managedData: Seq[(ManagedBehaviorGroup, BehaviorGroupData)],
  otherData: Seq[BehaviorGroupData],
  usersData: Seq[UserData]
)(implicit messages: Messages, r: RequestHeader)


@page.main("Managed skills", config, Seq(
  NavItem.adminTeamsList(true),
  NavItem(s"Managed skills for ${team.name}", None)
)) {
  <div class="container">

    <h4>Managed skills for @team.name</h4>

    <div class="columns">
    @managedData.map { case(managed, groupData) =>
      @groupData.id.map { groupId =>
        <div class="column column-half narrow-column-full mbl">
          <div class="border bg-white pal">
            <h4 class="mtn">@groupData.name</h4>
            <form class="display-inline-block type-s align-t" method="POST" action="@controllers.admin.routes.ManagedBehaviorGroupsController.setContact(groupId).url">
              @CSRF.formField
              <div class="display-inline-block align-t">Contact:</div>
              <div class="form-select form-select-s">
                <select name="contactId" class="form-select-element">
                  <option value="">– No contact selected –</option>
                  @usersData.map { ea =>
                    <option value="@ea.ellipsisUserId" @if(managed.maybeContactId.contains(ea.ellipsisUserId)){ selected="selected" }else{}>@ea.userNameOrDefault</option>
                  }
                </select>
              </div>
              <button type="submit" class="button button-s align-t button-shrink">Update</button>
            </form>
            <form class="display-inline-block align-t" method="POST" action="@controllers.admin.routes.ManagedBehaviorGroupsController.delete(groupId).url">
              @CSRF.formField
              <button type="submit" class="button button-s button-shrink">Remove</button>
            </form>
          </div>
        </div>
      }
    }
    </div>

    <div class="bg-white border pal mtxl">
      <form class="type-s" method="POST" action="@controllers.admin.routes.ManagedBehaviorGroupsController.add(team.id).url">
        @CSRF.formField
        <div class="display-inline-block align-t">Add managed skill:</div>
        <div class="form-select form-select-s">
          <select name="groupId" class="form-select-element">
            @otherData.map { ea =>
              <option value="@ea.id">@ea.name</option>
            }
          </select>
        </div>
        <button class="button button-s button-shrink align-t" type="submit">Add</button>
      </form>
    </div>
  </div>
}

