@(
  config: ViewConfig,
  apis: Seq[json.OAuth2ApiData],
  application: models.accounts.oauth2application.OAuth2Application
  )(implicit messages: Messages, r: RequestHeader)

@import play.filters.csrf._
@import play.api.libs.json._
@import json.Formatting._

@page.main("Edit API application", config, selectedNav = "settings") {
  <div id="content" class="content">
    <div id="applicationEditor"></div>
    <script>
      var ApplicationEditorConfig = {
        containerId: 'applicationEditor',
        csrfToken: "@CSRF.getToken(r).map(_.value)",
        teamId: "@config.maybeTargetTeamId.getOrElse("")",
        apis: @Html(Json.toJson(apis).toString),
        callbackUrl: "@routes.APIAccessController.linkCustomOAuth2Service(application.id, None, None, None, None).absoluteURL(secure = true)",
        mainUrl: "@routes.ApplicationController.index().absoluteURL(secure = true)",
        applicationId: "@application.id",
        applicationName: "@application.name",
        requiresAuth: @application.api.grantType.requiresAuth,
        applicationClientId: "@application.clientId",
        applicationClientSecret: "@application.clientSecret",
        applicationScope: "@application.maybeScope",
        applicationApiId: "@application.api.id",
        applicationSaved: true
      };
    </script>
    <script data-main='@RemoteAssets.getUrl("javascripts/application_editor/loader.js")' src='@RemoteAssets.getUrl("lib/requirejs/require.min.js")'></script>
  </div>
}
