@(
  config: ViewConfig,
  dataRoute: Call
)(implicit messages: Messages, r: RequestHeader)

@page.main("Edit skill", config, Seq(NavItem.skills(link = true, config.maybeTargetTeamId, None))) {
  <div id="content" class="flex-row-cascade">
    <div id="editorContainer" class="flex-row-cascade"></div>
    <script src='@config.assets.getWebpackBundle("vendor.js")'></script>
    <script src='@config.assets.getWebpackBundle("jshint.js")'></script>
    <script src='@dataRoute'></script>
    <script src='@config.assets.getWebpackBundle("behaviorEditor.js")'></script>
  </div>
}
