@(
  config: ViewConfig,
  scopes: String,
  clientId: String,
  redirectUrl: String
)(implicit r: RequestHeader, m: Messages)

@page.main("Add to Slack", config,
  bodyClass = "bg-light",
  navClass = "container-narrow container-c",
  hideNav = true) {

  <div id="content">
    <div class="bg-black type-white border-emphasis-bottom border-pink">
      <div class="container container-narrow container-c pvxxxxl mobile-pvxl">

        <h1 class="mobile-mtn">Get started with Ellipsis</h1>

        <p>
          <span class="type-pink-light">To use Ellipsis, you need to add it to your Slack workspace. </span>
          <span>Click the button below to authorize Ellipsis to join your workspace.</span>
        </p>

        <div class="mtxl">
          @addToSlackButton(scopes, clientId, redirectUrl)
        </div>

      </div>
    </div>
    <div class="bg-white">
      <div class="container container-narrow container-c pvxxxl mobile-pvl">

        <h2 class="mtn">What is Ellipsis?</h2>

        <p>
          Ellipsis is an assistant that can perform tasks and provide information in response to your messages in chat.
        </p>

        <p>
          Install useful skills, customize them, and create new workflows from scratch. Then speak to Ellipsis whenever you need.
        </p>

        <h3>Quick setup</h3>

        <div class="position-relative mv type-m">
          <span class="box-number bg-pink type-white mrm">1</span>
          <span>Add Ellipsis to your Slack workspace</span>
        </div>

        <div class="position-relative mvl type-m">
          <span class="box-number bg-pink type-white mrm">2</span>
          <span>Invite <b>@@ellipsis</b> to any Slack channel</span>
        </div>

        <div class="position-relative mvl type-m">
          <span class="box-number bg-pink type-white mrm">3</span>
          <span>Type <span class="box-chat box-chat-selected type-white">@@ellipsis help</span> in the channel</span>
        </div>

      </div>
    </div>
  </div>
}
