@(
  config: ViewConfig,
  scopes: String,
  clientId: String,
  redirectUrl: String
)(implicit r: RequestHeader, m: Messages)

@page.main("Sign in with Slack", config, bodyClass = "bg-white", hideNav = true) {

  <div id="content">
    <div class="bg-black type-white border-emphasis-bottom border-pink">
      <div class="container container-narrow container-c pvxxxxl">

        <h1>Sign in to Ellipsis</h1>

        <p>
          <span class="type-pink-light">You need to identify yourself to use Ellipsis outside of chat. </span>
        </p>

        <p class="mvxl">
          @signInWithSlackButton(scopes, clientId, redirectUrl)
        </p>

      </div>
    </div>
    <div class="bg-white type-black">
      <div class="container container-narrow container-c pvxxxxl">

        <p>Not sure if your Slack team is using Ellipsis? Learn more and add it to your team.</p>

        <p class="mvxl">
          <a href="@{routes.SlackController.add()}" class="button button-l">Learn about Ellipsis</a>
        </p>
      </div>
    </div>
  </div>
}
