@import (reference) "measurements";

.align-l {
  text-align: left;
}

.align-c {
  text-align: center;
}

.align-r {
  text-align: right;
}

@media (max-width: @narrow-max-width) {
  .narrow-align-l {
    text-align: left;
  }

  .narrow-align-c {
    text-align: center;
  }

  .narrow-align-r {
    text-align: right;
  }
}

@media (max-width: @mobile-max-width) {
  .mobile-align-l {
    text-align: left;
  }

  .mobile-align-c {
    text-align: center;
  }

  .mobile-align-r {
    text-align: right;
  }
}

.align-t {
  vertical-align: top !important;
}

.align-b {
  vertical-align: bottom !important;
}

.align-m {
  vertical-align: middle !important;
}

.align-button {
  display: inline-block;
  line-height: @xl;
  padding: @s 0;
  vertical-align: bottom;
}

.align-form-input {
  line-height: 40px;
  vertical-align: middle;
}
