@import (reference) "colors";

.transition-layout {
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

.fade-in {
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 0.2s;
}

.fade-out {
  -webkit-animation: fadeout 0.2s;
  animation: fadeout 0.2;
}

.blink-twice {
  -webkit-animation: blink 0.4s;
  animation: blink 0.4s;
}

.blink-twice-inverted {
  -webkit-animation: blink-inverted 0.4s;
  animation: blink-inverted 0.4s;
}

.pulse {
  -webkit-animation: pulse 2s ease 0s infinite;
  animation: pulse 2s ease 0s infinite;
}

.pulse-faded {
  -webkit-animation: pulse-faded 2s ease 0s infinite;
  animation: pulse-faded 2s ease 0s infinite;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes blink {
  0% {
    background-color: @black;
    color: @white;
  }
  33% {
    background-color: transparent;
    color: inherit;
  }
  66% {
    background-color: @black;
    color: @white;
  }
  100% {
    background-color: transparent;
    color: inherit;
  }
}

@keyframes blink-inverted {
  0% {
    background-color: @white;
    color: @black;
  }
  33% {
    background-color: transparent;
    color: inherit;
  }
  66% {
    background-color: @white;
    color: @black;
  }
  100% {
    background-color: transparent;
    color: inherit;
  }
}

@-webkit-keyframes blink {
  0% {
    background-color: @black;
    color: @white;
  }
  33% {
    background-color: transparent;
    color: inherit;
  }
  66% {
    background-color: @black;
    color: @white;
  }
  100% {
    background-color: transparent;
    color: inherit;
  }
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@-webkit-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes pulse-faded {
  0% { opacity: 0.66; }
  50% { opacity: 0.33; }
  100% { opacity: 0.66; }
}

@-webkit-keyframes pulse-faded {
  0% { opacity: 0.66; }
  50% { opacity: 0.33; }
  100% { opacity: 0.66; }
}
