@import (reference) "colors";
@import (reference) "bg";
@import (reference) "borders";
@import (reference) "type";
@import (reference) "position";

.box-help {
  .bg-blue-lighter();
  .border-top();
  .border-bottom();
  .border-blue();
  .position-relative();
  padding: @l;
}

.box-code-example {
  background-color: @white-faded;
  .border();
  .border-dotted();
  padding: @xs;
  .type-monospace();
  .type-xs();
  .type-wrap-words();
}

.box-action {
  .bg-white();
  .border-emphasis-top();
  .border-pink();
  .position-relative();
  padding: @xxl @l;
}

.box-warning {
  .bg-yellow();
  .border-top();
  .border-bottom();
  .border-yellow();
  padding: @s;
}

.box-tip {
  .bg-white();
  .border-top();
  .border-bottom();
  .border-pink-light();
  padding: @s;

  .box-code-example {
    .bg-lightest();
  }
}
