@import (reference) "colors";
@import (reference) "bg";
@import (reference) "borders";
@import (reference) "type";
@import (reference) "position";
@import (reference) "animation";

.box-help {
  .bg-blue-lighter();
  .border-top();
  .border-bottom();
  .border-blue();
  .position-relative();
  padding: @l;
}

.box-code-example {
  .bg-blue-lightest();
  .border();
  .border-dotted();
  padding: @xs;
  .type-monospace();
  .type-xs();
  .type-wrap-words();
}

.box-code-example.box-code-example-highlighted {
  .bg-black();
  .border-black();
  color: @white;
  .blink-twice();
}

.box-chat-example {
  .bg-white();
  .border();
  padding: 0 @xs;
  .type-monospace();
  margin-left: @xs;
  margin-right: @xs;
}

.box-action {
  .bg-white();
  .border-emphasis-top();
  .border-pink();
  .position-relative();
  padding: @xxl @l;
}

.box-warning {
  .bg-yellow();
  .border-top();
  .border-bottom();
  .border-yellow();
  padding: @s;
}

.box-error {
  .bg-pink();
  padding: @s;
  color: @white;
}

.box-tip {
  .bg-green-lightest();
  .border-top();
  .border-bottom();
  .border-green();
  padding: @s;
  color: @black;

  .box-code-example {
    .bg-white();
  }
}

.box-number {
  display: inline-block;
  line-height: @xxl;
  box-sizing: border-box;
  min-width: @xxl;
  padding: 0 @xs;
  height: @xxl;
  text-align: center;
  border-radius: @border-radius-small;
}

@box-chat-color: @gray-lightest;
@box-chat-selected-color: @blue-medium-alt;

.box-chat {
  position: relative;
  display: inline;
  box-sizing: border-box;
  border-radius: @border-radius-small @border-radius-small @border-radius-small 0;
  vertical-align: middle;
  padding: 0 6px;
  background-color: @box-chat-color;
  .type-monospace();
  margin-left: 6px;
}

.box-chat-selected {
  border-color: @box-chat-selected-color;
  background-color: @box-chat-selected-color;
}

.box-chat-help {
  border-color: @blue-light;
  background-color: @blue-light;
}

.box-chat::after {
  content: '';
  position: absolute;
  left: -6px;
  bottom: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-bottom: 8px solid @box-chat-color;
}

.box-chat-selected::after {
  border-bottom-color: @box-chat-selected-color;
}

.box-chat-help::after {
  border-bottom-color: @blue-light;
}
