/* Measurements */
@xxs: 2px;
@xs: 4px;
@s: 8px;
@m: 12px;
@l: 16px;
@xl: 24px;
@xxl: 32px;
@xxxl: 48px;
@xxxxl: 64px;

@type-xs: 12px;
@type-s: 15px;
@type-m: 18px;
@type-l: 28px;
@type-xl: 43px;
@type-xxl: 59px;

@border-width: 1px;
@border-width-thick: 2px;
@border-radius: @s;

/* Colors */
@black: hsl(231, 15%, 15%);
@black-translucent: hsla(231, 15%, 15%, 0.1);
@white: #FFFFFF;
@almost-white: hsl(231, 15%, 97%);
@gray-lightest: hsl(231, 10%, 95%);
@gray-light: hsl(231, 11%, 81%);
@gray-medium: hsl(231, 15%, 60%);
@gray-darkest: hsl(231, 15%, 40%);

@blue-faded-dark: hsl(231, 22%, 43%);

@blue-darkest: hsl(231, 71%, 20%);
@blue-dark: hsl(231, 71%, 42%);

@blue-medium-text: hsl(231, 74%, 57%);
@blue-medium: hsl(231, 97%, 64%);

@pink-medium: hsl(341, 93%, 65%);
@green-light: hsl(127, 93%, 63%);

@border-color: @gray-light;
@border-color-focus: @pink-medium;

body, input, select, textarea, button {
  font-family: 'Source Sans Pro', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
}

body {
  margin: 0;
  font-size: @type-m;
  line-height: @xl;
  background-color: @white;
  color: @black;
}

.container {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: @l;
  padding-right: @l;
}

p {
  margin: 0 0 @m 0;
}

/*

Margin and padding utilities

A set of margin and padding utilities exists for each measurement from xxxxl to xs.

1. The first character denotes margin or padding
  - 'm': margin
  - 'p': padding
2. The second character denotes the sides to apply the style
  - 'a': all sides
  - 'v': vertical (top and bottom)
  - 'h': horizontal (sides)
  - 't': top
  - 'b': bottom
  - 'l': left
  - 'r': right
3. The rest of the characters specify the amount
  - 'xs', 's', 'm', 'l', 'xl', 'xxl', 'xxxl', 'xxxxl'

So for example:
- '.mas' applies small margin to all sides
- '.pbl' applies large padding to the bottom
- '.pvxs' applies extra-small padding to the top and bottom

*/

.generate-margin(@size, @size-name) {
  .ma@{size-name} {
    margin: @size !important;
  }
  .mv@{size-name} {
    margin-top: @size !important;
    margin-bottom: @size !important;
  }
  .mh@{size-name} {
    margin-left: @size !important;
    margin-right: @size !important;
  }
  .mt@{size-name} {
    margin-top: @size !important;
  }
  .mb@{size-name} {
    margin-bottom: @size !important;
  }
  .ml@{size-name} {
    margin-left: @size !important;
  }
  .mr@{size-name} {
    margin-right: @size !important;
  }
}

.generate-margin(@xxxxl, xxxxl);
.generate-margin(@xxxl, xxxl);
.generate-margin(@xxl, xxl);
.generate-margin(@xl, xl);
.generate-margin(@l, l);
.generate-margin(@m, m);
.generate-margin(@s, s);
.generate-margin(@xs, xs);
.generate-margin(0, n);

.generate-padding(@size, @size-name) {
  .pa@{size-name} {
    padding: @size !important;
  }
  .pv@{size-name} {
    padding-top: @size !important;
    padding-bottom: @size !important;
  }
  .ph@{size-name} {
    padding-left: @size !important;
    padding-right: @size !important;
  }
  .pt@{size-name} {
    padding-top: @size !important;
  }
  .pb@{size-name} {
    padding-bottom: @size !important;
  }
  .pl@{size-name} {
    padding-left: @size !important;
  }
  .pr@{size-name} {
    padding-right: @size !important;
  }
}

.generate-padding(@xxxxl, xxxxl);
.generate-padding(@xxxl, xxxl);
.generate-padding(@xxl, xxl);
.generate-padding(@xl, xl);
.generate-padding(@l, l);
.generate-padding(@m, m);
.generate-padding(@s, s);
.generate-padding(@xs, xs);
.generate-padding(0, n);

/* Background utilities */

.bg-blue-dark {
  background-color: @blue-darkest;
}

.bg-lightest {
  background-color: @almost-white;
}

.bg-light {
  background-color: @gray-lightest
}

.bg-white {
  background-color: @white;
}

/* Border utilities */

.border-emphasis-bottom {
  border-width: 0 0 @xs 0;
  border-style: solid;
  border-color: @border-color-focus;
}

/* Foreground type utilities */

.type-l {
  font-size: @type-l !important;
  line-height: @xxl;
}

.type-s {
  font-size: @type-s !important;
  line-height: @xl;
}

.type-xs {
  font-size: @type-xs !important;
  line-height: @l;
}

.type-italic {
  font-style: italic;
}

.type-weak {
  color: @gray-darkest;
}

.type-pink {
  color: @pink-medium;
}

.type-green {
  color: @green-light;
}

.type-white {
  color: white;
}

.type-monospace, code {
  font-family: 'Source Code Pro', Menlo, Consolas, monospace;
  font-size: 0.9em;
}

/* Alignment utilities */

.align-c {
  text-align: center;
}

.align-t {
  vertical-align: top !important;
}

.align-b {
  vertical-align: bottom !important;
}

.align-m {
  vertical-align: middle !important;
}

.logo {
  height: 28px;
  margin: -2px 0;
}

/* Headers */

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 @m 0;
  font-weight: normal;
}

h1, .h1 {
  font-family: 'Grota Sans Rounded Medium', 'Source Sans Pro', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
  font-size: @type-xxl;
  line-height: @xxxxl;
}

h1 {
  margin-top: @xxxxl;
  color: @blue-faded-dark;
}

h2, .h2 {
  font-size: @type-xl;
  line-height: @xxxl;
}

h3 {
  font-size: @type-l;
  line-height: @xxl;
  font-weight: 600;
}

h4 {
  font-size: @type-m;
  line-height: @xl;
  font-weight: 600;
}

h5 {
  font-size: @type-s;
  line-height: @xl;
  font-weight: 600;
  letter-spacing: 0.07em;
}

h6 {
  font-size: @type-xs;
  line-height: @l;
  font-weight: 600;
  letter-spacing: 0.1em;
}

/* Columns */

.columns:after {
  content: ' ';
  display: table;
  clear: left;
}

.columns-elastic {
  display: table;
  width: 100%;
}

.columns-elastic > .column {
  display: table-cell;
  vertical-align: top;
  float: none;
}

.column {
  float: left;
  padding-right: @l;
  box-sizing: border-box;
}

.column:last-child {
  padding-right: 0;
}

.column-one-quarter {
  width: 25%;
}

.column-three-quarters {
  width: 75%;
}

.column-expand {
  width: 100%;
}

.column-shrink {
  width: 1px;
}

/* Rules */

hr {
  width: 100%;
  height: @xs;
  border: none;
  background-color: @pink-medium;
  border-radius: @xs;
  margin: @l 0 @xxl 0;
}

hr.form-border {
  height: @xxs;
  background-color: @border-color;
  border-radius: 0;
}

/* Forms */

.form-field-group {
  .mbxl();
}

input, select, textarea, .form-field {
  font-size: 1rem;
  line-height: @xl;
}

@form-padding-vertical: @s;
@form-padding-horizontal: @s;
@form-input-height: @s * 2 + @xl;
@form-input-height-large: @s * 2 + @xxl;
@form-input-height-h2: @s * 2 + @xxxl;
@form-bg-disabled: @gray-lightest;
@form-color-disabled: @gray-darkest;

.form-field, .CodeMirror {
  border-width: @border-width;
  border-style: solid;
  border-color: @border-color;
  border-radius: @border-radius;
  box-sizing: border-box;
  .bg-white();
}

.form-input {
  padding: (@form-padding-vertical - @border-width) (@form-padding-horizontal - @border-width);
  height: @form-input-height;
  .form-field();
  width: 100%;
}

.form-input-large {
  .type-l();
  height: @form-input-height-large;
}

.form-input-h2 {
  .h2();
  height: @form-input-height-h2;
}

.form-input[readonly] {
  background-color: @form-bg-disabled;
  color: @form-color-disabled;
}

.CodeMirror {
  .type-monospace();
  font-size: @type-s;
  line-height: @xl;
  min-height: @form-input-height - @border-width*2;
  height: auto;
  padding: (@xs - @border-width);
}

.form-input:focus, .form-field:focus, .CodeMirror-focused {
  outline: none;
  border-color: @border-color-focus;
  border-width: @border-width-thick;
  padding: (@form-padding-vertical - @border-width-thick) (@form-padding-horizontal - @border-width-thick);
}

.CodeMirror-focused {
  padding: (@xs - @border-width-thick);
}

.form-input-borderless {
  background-color: transparent;
  border-top-color: transparent !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  border-radius: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: (@form-padding-vertical - @border-width - @xs);
  height: @form-input-height - @xs;
}

.form-input-borderless:focus {
  padding-bottom: (@form-padding-vertical - @border-width-thick - @xs);
}

.form-input-borderless.form-input-large {
  height: @form-input-height-large - @xs;
}

.form-input-borderless.form-input-h2 {
  height: @form-input-height-h2 - @xs;
}

.form-grouped-inputs {
  .form-input, .columns > .column > .form-input {
    border-radius: 0;
    border-bottom-color: @white;
  }

  & > .form-input,
  & > .columns {
    margin-bottom: -1px;
  }

  .form-input:first-child,
  .columns:first-child > .column > .form-input {
    border-top-left-radius: @border-radius;
    border-top-right-radius: @border-radius;
  }
  .form-input:last-child,
  .columns:last-child > .column > .form-input {
    border-bottom-color: @border-color;
    border-bottom-left-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
  }
  .form-input:focus,
  .columns > .column > .form-input:focus {
    border-bottom-color: @border-color-focus;
    position: relative;
    z-index: 1;
  }
}

.form-field-with-prefix {
  display: table-row;
  box-sizing: border-box;
  width: 100%;

  .form-input-prefix, .form-input {
    display: table-cell;
    vertical-align: top;
  }

  .form-input-prefix {
    .form-field();
    padding: (@form-padding-vertical - @border-width) (@form-padding-horizontal - @border-width);
    height: @form-input-height;
    width: 1%;
    border-right-width: 0;
    border-radius: @border-radius 0 0 @border-radius;
    background-color: @form-bg-disabled;
    color: @form-color-disabled;
  }

  .form-input {
    width: 100%;
    border-radius: 0 @border-radius @border-radius 0;
  }
}

/* Buttons */

@button-height: @s * 2 + @xl;

button {
  font-size: @type-m;
  line-height: @xl;
  padding: (@s - @border-width + 1) (@l - @border-width) (@s - @border-width - 1);
  height: @button-height;
  box-sizing: border-box;
  border-radius: @border-radius;
  border-width: @border-width;
  border-style: solid;
  border-color: @blue-medium;
  background-color: transparent;
  color: @blue-medium-text;
  min-width: @s * 20;
  cursor: pointer;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

button[disabled] {
  border-color: @gray-light;
  color: @gray-medium;
  cursor: default;
}

button.button-shrink {
  min-width: 0;
  padding-left: (@s - @border-width);
  padding-right: (@s - @border-width);
}

button.button-subtle {
  border-color: transparent;
}

button:focus {
  outline: none;
  border-color: @blue-dark;
  border-width: @border-width-thick;
  padding: (@s - @border-width-thick + 1) (@l - @border-width-thick) (@s - @border-width-thick - 1);
}

button.button-shrink:focus {
  padding-left: (@s - @border-width-thick);
  padding-right: (@s - @border-width-thick);
}

button:active {
  background-color: @black-translucent;
  border-color: @blue-dark;
}

button.button-primary {
  font-weight: 600;
  background-color: @blue-medium;
  border-color: @blue-medium;
  color: @white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button.button-primary[disabled] {
  background-color: @gray-light;
  border-color: @gray-light;
}

button.button-primary:focus {
  background-color: @blue-medium;
  border-color: @blue-dark;
}

button.button-primary:active {
  background-color: @blue-dark;
  border-color: @blue-dark;
  color: @white;
}

/* Visibility */

.visibility {
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.visibility-hidden {
  visibility: hidden;
  opacity: 0;
}

.visibility-visible {
  visibility: visible;
  opacity: 1;
}
