@import url(../lib/codemirror/addon/hint/show-hint.css);

@mobile-max-width: 767px;

/* Measurements */
@xxs: 2px;
@xs: 4px;
@s: 8px;
@m: 12px;
@l: 16px;
@xl: 24px;
@xxl: 32px;
@xxxl: 48px;
@xxxxl: 64px;

@type-desktop-m: 18px;
@type-mobile-m: 16px;

@type-xxxs: unit(8/18, rem);
@type-xxs: unit(10/18, rem);
@type-xs: unit(13/18, rem);
@type-s: unit(15/18, rem);
@type-m: unit(18/18, rem);
@type-l: unit(28/18, rem);
@type-xl: unit(43/18, rem);
@type-xxl: unit(59/18, rem);

@line-height-xs: unit(16/18, rem);
@line-height-s: unit(24/18, rem);
@line-height-m: unit(24/18, rem);
@line-height-l: unit(32/18, rem);

@border-width: 1px;
@border-width-thick: 2px;
@border-radius: 8px;
@border-radius-small: 6px;

@dropdown-menu-width: 12 * @type-m;

/* Colors */
@black: hsl(231, 15%, 15%);
@black-translucent: hsla(231, 15%, 15%, 0.1);
@white: #FFFFFF;
@almost-white: hsl(231, 15%, 97%);
@gray-lightest: hsl(231, 10%, 92.5%);
@gray-lightest-translucent: hsla(231, 10%, 93%, 0.95);
@gray-light: hsl(231, 11%, 81%);
@gray-light-translucent: hsla(231, 11%, 81%, 0.5);
@gray-medium: hsl(231, 9%, 65%);
@gray-dark: hsl(231, 10%, 45%);
@gray-darkest: hsl(231, 13%, 25%);

@blue-faded-dark: hsl(231, 22%, 43%);

@blue-darkest: hsl(231, 71%, 20%);
@blue-dark: hsl(231, 71%, 42%);
@blue-medium-text: hsl(231, 74%, 57%);
@blue-medium: hsl(231, 97%, 64%);
@blue-medium-alt: hsl(231, 100%, 74%);
@blue-light: hsl(231, 97%, 88%);
@blue-lighter: hsl(231, 97%, 97%);
@blue-lightest: hsl(231, 97%, 98.5%);

@pink-medium: hsl(341, 93%, 65%);
@pink-medium-text: hsl(341, 93%, 56%);
@pink-dark: hsl(341, 50%, 50%);
@green-lightest: hsl(127, 93%, 95.5%);
@green-light: hsl(127, 93%, 63%);
@green-medium: hsl(127, 93%, 48%);
@green-text: hsl(127, 93%, 35%);

@orange-light: hsl(24, 100%, 67%);
@orange-lighter: hsl(24, 100%, 77%);

@yellow-medium: hsl(45, 70%, 48%);
@yellow-light: hsl(45, 80%, 79%);
@yellow-lighter: hsl(45, 100%, 92%);

@border-color: @gray-light;
@border-color-focus: @pink-medium;
@border-color-dropdown: @gray-medium;

html {
  font-size: @type-desktop-m;
  line-height: @line-height-m;
}

@media (max-width: @mobile-max-width) {
  html {
    font-size: @type-mobile-m;
  }
}

body, input, select, textarea, button {
  font-family: 'Source Sans Pro', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
}

body {
  margin: 0;
  background-color: @white;
  color: @black;
}

.container {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: @xl;
  padding-right: @xl;
}

@media (max-width: @mobile-max-width) {
  .container {
    padding-left: @l;
    padding-right: @l;
  }
}

p {
  margin: 0 0 @m 0;
}

ul {
  padding-left: 1.5em;
  margin: 0 0 @m 0;
}

.list-space-s > li {
  margin-bottom: @s;
}

.checklist > li {
  transition: color 0.2s ease;
  list-style-type: circle;
}

.checklist .checklist > li {
  list-style-type: none;
  position: relative;
  &::before {
    content: '▹';
    position: absolute;
    left: -1.25em;
  }
}

.checklist > .checklist-checked {
  list-style-type: none;
  position: relative;
  color: @green-text;
  text-decoration: strikethrough;
  &::before {
    content: '✓' !important;
    position: absolute;
    left: -1.25em;
    color: @green-text;
  }
}

.checklist.type-weak > .checklist-checked {
  .type-weak();
  list-style-type: circle;
  &::before {
    content: none !important;
  }
}

/* Links */

a:link, a:visited, .link {
  color: @blue-medium-text;
  text-decoration: none;
  cursor: pointer;
}

a:hover, .link:hover, .link-block:hover .link {
  text-decoration: underline;
}

a.link-block {
  color: inherit;
  display: block;
}

a.link-block:hover {
  text-decoration: none;
}

.link-green,
.link-green:link,
.link-green:visited {
  color: @green-light;
}

.link-green:hover {
  color: @blue-medium-alt;
}

.link-blue-light,
.link-blue-light:link,
.link-blue-light:visited {
  color: @blue-lighter;
  .light-antialiasing();
}

.link-blue-light:hover {
  color: @blue-medium-alt;
  text-decoration: none;
}

/*

Margin and padding utilities

A set of margin and padding utilities exists for each measurement from xxxxl to xs.

1. The first character denotes margin or padding
  - 'm': margin
  - 'p': padding
2. The second character denotes the sides to apply the style
  - 'a': all sides
  - 'v': vertical (top and bottom)
  - 'h': horizontal (sides)
  - 't': top
  - 'b': bottom
  - 'l': left
  - 'r': right
3. The rest of the characters specify the amount
  - 'xs', 's', 'm', 'l', 'xl', 'xxl', 'xxxl', 'xxxxl'

So for example:
- '.mas' applies small margin to all sides
- '.pbl' applies large padding to the bottom
- '.pvxs' applies extra-small padding to the top and bottom

*/

@sizes: xxxxl @xxxxl, xxxl @xxxl, xxl @xxl, xl @xl, l @l, symbol 40px, m @m, s @s, xs @xs, n 0;

.generate-all-sided(@prefix, @iterator: 1) when (@iterator <= length(@sizes)) {
  @size-name: extract(extract(@sizes, @iterator), 1);
  @size: extract(extract(@sizes, @iterator), 2);
  .@{prefix}ma@{size-name} {
    margin: @size !important;
  }
  .@{prefix}pa@{size-name} {
    padding: @size !important;
  }
  .generate-all-sided(@prefix, (@iterator + 1));
}

.generate-two-sided(@prefix, @iterator: 1) when (@iterator <= length(@sizes)) {
  @size-name: extract(extract(@sizes, @iterator), 1);
  @size: extract(extract(@sizes, @iterator), 2);
  .@{prefix}mv@{size-name} {
    margin-top: @size !important;
    margin-bottom: @size !important;
  }
  .@{prefix}mh@{size-name} {
    margin-left: @size !important;
    margin-right: @size !important;
  }
  .@{prefix}pv@{size-name} {
    padding-top: @size !important;
    padding-bottom: @size !important;
  }
  .@{prefix}ph@{size-name} {
    padding-left: @size !important;
    padding-right: @size !important;
  }
  .generate-two-sided(@prefix, (@iterator + 1));
}

.generate-one-sided(@prefix, @iterator: 1) when (@iterator <= length(@sizes)) {
  @size-name: extract(extract(@sizes, @iterator), 1);
  @size: extract(extract(@sizes, @iterator), 2);
  .@{prefix}mt@{size-name} {
    margin-top: @size !important;
  }
  .@{prefix}mb@{size-name} {
    margin-bottom: @size !important;
  }
  .@{prefix}ml@{size-name} {
    margin-left: @size !important;
  }
  .@{prefix}mr@{size-name} {
    margin-right: @size !important;
  }
  .@{prefix}pt@{size-name} {
    padding-top: @size !important;
  }
  .@{prefix}pb@{size-name} {
    padding-bottom: @size !important;
  }
  .@{prefix}pl@{size-name} {
    padding-left: @size !important;
  }
  .@{prefix}pr@{size-name} {
    padding-right: @size !important;
  }
  .generate-one-sided(@prefix, (@iterator + 1));
}

.generate-all-sided(e(""));
.generate-two-sided(e(""));
.generate-one-sided(e(""));

@media (max-width: @mobile-max-width) {
  .generate-all-sided(mobile-);
  .generate-two-sided(mobile-);
  .generate-one-sided(mobile-);
}

/* Background utilities */

.bg-black {
  background-color: @black;
}

.bg-dark-translucent {
  background-color: @black-translucent;
}

.bg-blue-dark {
  background-color: @blue-darkest;
}

.bg-blue-medium {
  background-color: @blue-medium-alt;
}

.bg-blue-lighter {
  background-color: @blue-lighter;
}

.bg-blue-lightest {
  background-color: @blue-lightest;
}

.bg-lightest {
  background-color: @almost-white;
}

.bg-light {
  background-color: @gray-lightest
}

.bg-light-translucent {
  background-color: @gray-lightest-translucent;
}

.bg-white {
  background-color: @white;
}

.bg-green {
  background-color: @green-lightest;
}

.bg-scrim {
  background-color: @gray-light-translucent;
}

.bg-yellow {
  background-color: @yellow-lighter;
}

.bg-pink {
  background-color: @pink-dark;
}

@bg_logo_url: url(/assets/images/bg_logo.png);
.bg-large-logo {
  background-image: @bg_logo_url, @bg_logo_url, @bg_logo_url, @bg_logo_url;
  background-size: 800px 500px;
  background-repeat: repeat;
  background-position: -50px -110px, 210px -50px, 390px -5px, -220px -70px;
}

/* Border utilities */

.border {
  border-width: @border-width;
  border-style: solid;
  border-color: @border-color;
}

.border-dotted {
  border-style: dotted;
}

.border-thick {
  border-width: @border-width-thick;
}

.border-emphasis-bottom {
  border-bottom-width: @xs;
  border-bottom-style: solid;
  border-bottom-color: @border-color;
}

.border-emphasis-top {
  border-top-width: @xs;
  border-top-style: solid;
  border-top-color: @border-color;
}

.border-emphasis-left {
  border-left-width: @xs;
  border-left-style: solid;
  border-left-color: @border-color;
}

.border-emphasis-right {
  border-right-width: @xs;
  border-right-style: solid;
  border-right-color: @border-color;
}

.border-top {
  border-top-width: @border-width;
  border-top-color: @border-color;
  border-top-style: solid;
}

.border-top-thick {
  border-top-width: @border-width-thick;
  border-top-color: @border-color;
  border-top-style: solid;
}

.border-bottom {
  border-bottom-width: @border-width;
  border-bottom-color: @border-color;
  border-bottom-style: solid;
}

.border-bottom-thick {
  border-bottom-width: @border-width-thick;
  border-bottom-color: @border-color;
  border-bottom-style: solid;
}

.border-left {
  border-left-width: @border-width;
  border-left-color: @border-color;
  border-left-style: solid;
}

.border-left-thick {
  border-left-width: @border-width-thick;
  border-left-color: @border-color;
  border-left-style: solid;
}

.border-right {
  border-right-width: @border-width;
  border-right-color: @border-color;
  border-right-style: solid;
}

.border-right-thick {
  border-right-width: @border-width-thick;
  border-right-color: @border-color;
  border-right-style: solid;
}

.border-blue {
  border-color: @blue-light;
}

.border-blue-medium {
  border-color: @blue-medium;
}

.border-pink {
  border-color: @pink-medium;
}

.border-green {
  border-color: @green-medium;
}

.border-yellow {
  border-color: @yellow-light;
}

.border-radius {
  border-radius: @border-radius;
}

.border-radius-top {
  border-top-left-radius: @border-radius;
  border-top-right-radius: @border-radius;
}

.border-radius-bottom {
  border-bottom-left-radius: @border-radius;
  border-bottom-right-radius: @border-radius;
}

.border-warning {
  border-left: @xs solid @yellow-light;
}

.border-error {
  border-left: @xs solid @pink-medium;
}

.border-error-top {
  border-top: @border-width-thick solid @pink-medium;
}

@media (max-width: @mobile-max-width) {
  .mobile-border-top {
    border-top: @border-width solid @border-color;
  }
  .mobile-border-none {
    border: none;
  }
}

/* Boxes combined background and border */

.box-help {
  .bg-blue-lighter();
  .border-top();
  .border-bottom();
  .border-blue();
  .position-relative();
  padding: @l;
}

.box-code-example {
  .bg-blue-lightest();
  .border();
  .border-dotted();
  padding: @xs;
  .type-monospace();
  .type-xs();
  .type-weak();
  .type-wrap-words();
}

.box-action {
  .bg-white();
  .border-emphasis-top();
  .border-pink();
  .position-relative();
  padding: @xxl @l;
}

.box-warning {
  .bg-yellow();
  .border-top-thick();
  .border-bottom-thick();
  .border-yellow();
  padding: @s;
}

/* Foreground type utilities */

.light-antialiasing() {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.type-bold {
  font-weight: 600;
}

.type-regular {
  font-weight: 400;
}

code .type-bold,
code.type-bold,
.type-monospace.type-bold,
.type-monospace .type-bold {
  font-weight: 700;
}

.type-l {
  font-size: @type-l !important;
  line-height: @line-height-l;
}

.type-m {
  font-size: @type-m !important;
  line-height: @line-height-m;
}

.type-s {
  font-size: @type-s !important;
  line-height: @line-height-s;
}

.type-xs {
  font-size: @type-xs !important;
  line-height: @line-height-xs;
}

.type-italic {
  font-style: italic;
}

.type-label {
  .type-xs();
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.type-black {
  color: @black;
}

.type-weak {
  color: @gray-dark;
}

.type-disabled {
  color: @gray-medium;
}

.type-pink {
  color: @pink-medium;
}

.type-green {
  color: @green-text;
}

.type-yellow {
  color: @yellow-medium;
}

.type-white {
  color: @white;
}

.type-monospace, code, pre, .CodeMirror-hints {
  font-family: 'Source Code Pro', Menlo, Consolas, monospace;
  font-size: 0.9em;
}

.type-strikethrough {
  text-decoration: line-through;
}

.type-l.type-white {
  .light-antialiasing();
}

code {
  .type-monospace();
}

.type-wrap {
  white-space: normal;
}

.type-wrap-words {
  word-wrap: break-word;
}

pre {
  margin: 0;
}

/* Alignment utilities */

.align-l {
  text-align: left;
}

.align-c {
  text-align: center;
}

.align-r {
  text-align: right;
}

@media (max-width: @mobile-max-width) {
  .mobile-align-l {
    text-align: left;
  }

  .mobile-align-c {
    text-align: center;
  }

  .mobile-align-r {
    text-align: right;
  }
}

.align-t {
  vertical-align: top !important;
}

.align-b {
  vertical-align: bottom !important;
}

.align-m {
  vertical-align: middle !important;
}

.align-button {
  display: inline-block;
  line-height: @xl;
  padding: @s 0;
  vertical-align: bottom;
}

/* Headers */

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 @m 0;
  font-weight: normal;
}

h1, .h1 {
  font-family: 'Source Sans Pro', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
  font-size: @type-xxl;
  font-weight: 300;
  line-height: @xxxxl;
}

h1 {
  margin-top: @xxxxl;
  color: @blue-faded-dark;
}

h2 {
  margin-top: @xxl;
}

h2, .h2 {
  font-size: @type-xl;
  line-height: @xxxl;
}

h3 {
  margin-top: @xl;
  font-size: @type-l;
  line-height: @xxl;
  font-weight: 600;
}

h4 {
  font-size: @type-m;
  line-height: @xl;
  font-weight: 600;
}

h5 {
  font-size: @type-s;
  line-height: @xl;
  font-weight: 600;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 0;
}

h6 {
  font-size: @type-xs;
  line-height: @l;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Tables */

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: @xs 0;
}

td {
  vertical-align: top;
}

th {
  vertical-align: bottom;
}

/* Columns */

.columns::after {
  content: ' ';
  display: table;
  clear: both;
}

.columns-elastic {
  display: table;
  width: 100%;
}

.columns-elastic .column-group {
  display: table-row-group;
}

.columns-elastic .column-row {
  display: table-row;
}

.columns-elastic > .column,
.columns-elastic > .column-group > .column-row > .column {
  display: table-cell;
  vertical-align: top;
  float: none;
}

.column {
  float: left;
  min-height: 1px;
  padding-right: @l;
  box-sizing: border-box;
  &:first-child {
    clear: left;
  }
}

.column-right {
  float: right;
}

.column:last-child,
.column-right:first-child {
  padding-right: 0;
}

.column-one-quarter {
  width: 25%;
}

.column-one-third {
  width: 33.3333%;
}

.column-one-half {
  width: 50%;
}

.column-five-twelfths {
  width: 41.6666%;
}

.column-three-quarters {
  width: 75%;
}

.column-full {
  width: 100%;
  padding-right: 0;
}

@media (max-width: @mobile-max-width) {
  .mobile-column-one-quarter {
    width: 25%;
  }

  .mobile-column-one-third {
    width: 33.3333%;
  }

  .mobile-column-one-half {
    width: 50%;
  }

  .mobile-column-five-twelfths {
    width: 41.6666%;
  }

  .mobile-column-three-quarters {
    width: 75%;
  }

  .mobile-column-full {
    width: 100%;
    padding-right: 0;
  }
}

.column-expand {
  width: 100%;
}

.column-shrink {
  width: 1px;
}

@media (max-width: @mobile-max-width) {
  .mobile-columns-float {
    display: block;
  }

  .mobile-columns-float > .column,
  .mobile-columns-float > .column-group > .column-row > .column {
    display: block;
    float: left;
  }

  .mobile-columns-float > .column-shrink,
  .mobile-columns-float > .column-group > .column-row > .column-shrink,
  .mobile-column-auto {
    width: auto;
  }

  .mobile-columns-float > .column-group > .column-row > .mobile-column-full {
    width: 100%;
  }
}


/* Hard widths */

.width {
  box-sizing: border-box;
}

.width-10 {
  width: 10em;
}

.width-20 {
  width: 20em;
}

.width-30 {
  width: 30em;
}

.width-40 {
  width: 40em;
}

/* Rules */

hr {
  width: 100%;
  height: @border-width-thick;
  border: none;
  background-color: @pink-medium;
  border-radius: @xs;
  margin: @xxl 0;
}

hr.form-border {
  height: @xxs;
  background-color: @border-color;
  border-radius: 0;
}

@arrow-width: 2px;

.arrow-right {
  position: absolute;
  top: 50%;
  left: 0;
  right: (@arrow-width * 4);
  height: 0;
  border-color: inherit;
  border-width: @arrow-width 0 0 0;
  border-style: solid;

  &::after {
    content: ' ';
    position: absolute;
    top: -(@arrow-width * 3 + (@arrow-width/2));
    right: -(@arrow-width * 4);
    width: 0;
    height: 0;
    border-width: (@arrow-width * 3) 0 (@arrow-width * 3) (@arrow-width * 4);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
    border-right-color: inherit;
    border-style: solid;
    position: absolute;
    right: -(@arrow-width * 4);
  }
}

/* Forms */

form {
  margin: 0;
}

input, select, textarea, .form-field {
  font-size: @type-s;
  line-height: @xl;
}

label {
  cursor: pointer;
}

@form-padding-vertical: @s;
@form-padding-horizontal: @s;
@form-input-height: @s * 2 + @xl;
@form-input-height-large: @s * 2 + @xxl;
@form-input-height-h2: @s * 2 + @xxxl;
@form-bg-disabled: @gray-lightest-translucent;
@form-color-disabled: @gray-medium;

.form-field {
  border-width: @border-width;
  border-style: solid;
  border-color: @border-color;
  border-radius: @border-radius;
  box-sizing: border-box;
  .bg-white();
}

.form-input {
  padding: (@form-padding-vertical - @border-width) (@form-padding-horizontal - @border-width);
  height: @form-input-height;
  .form-field();
  width: 100%;
  vertical-align: bottom; /* Prevents default bottom "margin" when textarea is only child of a box */
}

.form-input-large {
  .type-l();
  height: @form-input-height-large;
}

.form-input-h2 {
  .h2();
  height: @form-input-height-h2;
}

.form-input[readonly] {
  background-color: @almost-white;
  color: @gray-darkest;
}

.form-input[disabled] {
  background-color: @form-bg-disabled;
  color: @form-color-disabled;
}

.label-checkbox {
  cursor: pointer;
}

.label-checkbox:hover {
  color: @blue-medium-text;
  text-decoration: none;
}

.CodeMirror {
  .type-monospace();
  font-size: @type-s;
  line-height: @xl;
  height: auto;
  padding: 0 !important;
  border-width: 0 @border-width;
  border-style: solid;
  border-color: @border-color;
}

/* Use pseudo-elements to draw top/bottom borders so they're positioned correctly */
.CodeMirror::before,
.CodeMirror::after {
  content: ' ';
  height: 0;
  position: absolute;
  right: 0;
  left: @xxxl;
  border-width: @border-width 0 0 0;
  border-style: solid;
  border-color: @border-color;
  z-index: 1;
}

.CodeMirror-container-no-gutter {
  .CodeMirror {
    border-left-width: 0;
  }
  .CodeMirror::before,
  .CodeMirror::after {
    left: 0;
  }
}

.CodeMirror, .CodeMirror-gutters {
  background-color: @almost-white;
}

.CodeMirror-gutters {
  border-right-color: @border-color;
}

.CodeMirror-empty-gutter {
  width: @xxxl;
}

.CodeMirror-linenumbers {
  @jsHintWidth: 16px;
  width: @xxxl - @jsHintWidth;
}

.CodeMirror-no-gutter {
  width: 0;
}

.CodeMirror-linenumber {
  .type-disabled();
  padding-right: @xs + 1;
}

.CodeMirror-scroll {
  background-color: @white;
  min-height: @xxxxl;
}

.CodeMirror::before {
  top: 0;
}

.CodeMirror::after {
  bottom: 0;
}

.CodeMirror-scroll::-webkit-scrollbar {
  width: 15px;
}

.CodeMirror-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.form-input:focus, .form-field:focus {
  outline: none;
  border-color: @border-color-focus;
  border-width: @border-width-thick;
  padding: (@form-padding-vertical - @border-width-thick) (@form-padding-horizontal - @border-width-thick);
  position: relative;
  z-index: 1;
}

.CodeMirror-focused,
.CodeMirror-focused .CodeMirror-gutters {
  border-right-color: @border-color-focus;
  border-right-width: @border-width-thick;
}

.CodeMirror-focused .CodeMirror-sizer {
  border-color: @border-color-focus;
  border-width: @border-width-thick 0;
}

.CodeMirror-focused::before,
.CodeMirror-focused::after {
  border-width: @border-width-thick 0 0 0;
  border-color: @border-color-focus;
}

.form-input-borderless {
  background-color: transparent;
  border-top-color: transparent !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: (@form-padding-vertical - @border-width - @xs);
  height: @form-input-height - @xs;
}

.form-input-borderless:focus {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: (@form-padding-vertical - @border-width-thick - @xs);
}

.form-input-borderless.form-input-large {
  height: @form-input-height-large - @xs;
  line-height: @form-input-height-large - @border-width-thick - @xs;
  padding-top: 0;
  padding-bottom: 0;
}

.form-input-borderless.form-input-h2 {
  height: @form-input-height-h2 - @xs;
}

.form-grouped-inputs {
  & > .form-input,
  .columns > .column .form-input,
  .columns > .column > .form-field-capped > .form-input-prefix,
  .columns > .column > .form-field-capped > .form-input,
  .columns > .column > .form-field-capped > .form-input-suffix {
    border-radius: 0;
  }

  & > .columns {
    display: table;
    width: 100%;
  }

  & > .form-input,
  & > .columns {
    margin-bottom: -1px;
  }

  & > .columns:last-child {
    margin-bottom: 0;
  }

  .form-input:first-child,
  .columns:first-child > .column .form-input {
    border-top-left-radius: @border-radius;
    border-top-right-radius: @border-radius;
  }

  .columns:first-child > .column > .form-field-capped > *:first-child {
    border-top-left-radius: @border-radius;
  }

  .columns:first-child > .column > .form-field-capped > *:last-child {
    border-top-right-radius: @border-radius;
  }

  .form-input:last-child,
  .columns:last-child > .column .form-input {
    border-bottom-color: @border-color;
    border-bottom-left-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
  }

  .columns:last-child > .column > .form-field-capped > * {
    border-bottom-color: @border-color;
  }

  .columns:last-child > .column > .form-field-capped > *:first-child {
    border-bottom-left-radius: @border-radius;
  }

  .columns:last-child > .column > .form-field-capped > *:last-child {
    border-bottom-right-radius: @border-radius;
  }

  .form-input:focus,
  .columns > .column .form-input:focus,
  .columns > .column > .form-field-capped > .form-input:focus {
    border-bottom-color: @border-color-focus;
    position: relative;
    z-index: 1;
  }
}

.form-field-capped {
  display: table-row;
  box-sizing: border-box;
  width: 100%;

  .form-input-prefix,
  .form-input-suffix,
  .form-input {
    display: table-cell;
    vertical-align: top;
  }

  .form-input-prefix,
  .form-input-suffix {
    .form-field();
    padding: (@form-padding-vertical - @border-width) (@form-padding-horizontal - @border-width);
    height: @form-input-height;
    width: 1%;
    background-color: @almost-white;
    white-space: nowrap;
  }

  .form-input-prefix {
    border-radius: @border-radius 0 0 @border-radius;
    border-right-width: 0;
  }

  .form-input-suffix {
    border-radius: 0 @border-radius @border-radius 0;
    border-left-width: 0;
  }

  .form-input {
    width: 100%;
    border-radius: 0;
  }

  .form-input:first-child {
    border-top-left-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
  }

  .form-input:last-child {
    border-top-right-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
  }
}

.form-input-left {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.form-input-middle {
  border-radius: 0 !important;
  margin-left: -1px;
}

.form-input-right {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  margin-left: -1px;
}

/* Tabs */

.tabs {
  white-space: nowrap;
  overflow-x: auto;
  max-width: 100%;
  box-sizing: border-box;
}

.tab {
  display: inline-block;
  color: @black;
  border-radius: @border-radius @border-radius 0 0;
  line-height: @xl;
  padding: @s @l;
  margin: 0 @s 0 0;
}

@media (max-width: @mobile-max-width) {
  .tabs {
    .type-s();
  }

  .tab {
    padding: @xs @m;
    margin-right: @xs;
  }
}

.tab, .tab:hover, .tab:visited, .tab:active {
  color: @black;
  text-decoration: none;
}

.tab:hover {
  background-color: @almost-white;
}

.tab-active, .tab-active:hover {
  background-color: @white;
}

/* Buttons */

@button-height: @s * 2 + @xl;
@button-small-height: @xs * 2 + @l;

button,
a.button,
select.form-select {
  font-size: @type-m;
  line-height: @xl;
  padding: (@s - @border-width + 1) (@l - @border-width) (@s - @border-width - 1);
  height: @button-height;
  box-sizing: border-box;
  border-radius: @border-radius;
  border-width: @border-width;
  border-style: solid;
  border-color: @blue-medium;
  background-color: transparent;
  color: @blue-medium-text;
  min-width: @s * 20;
  cursor: pointer;
  transition: border-color 0.2s ease, background-color 0.2s ease;
  vertical-align: bottom;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  touch-action: manipulation;
  margin: 0;
}

@media (max-width: @mobile-max-width) {
  button, a.button, select.form-select {
    min-width: 0;
  }
}

a.button {
  display: inline-block;
}

a.button:hover {
  text-decoration: none;
}

@dropdown-trigger-right-padding: 32px;
@dropdown-trigger-small-right-padding: 28px;

button.button-dropdown-trigger,
select.form-select {
  position: relative;
  padding-right: @dropdown-trigger-right-padding - @border-width;
  border-color: @border-color-dropdown;
  color: @black;
  min-width: 0;
  text-align: left;
  white-space: nowrap;
  &::before {
    font-size: 0.55em;
    line-height: 1.06em;
    content: '▲\A▼';
    width: 0;
    position: absolute;
    right: 0;
    padding-right: 2em;
    white-space: normal;
  }
}

button.button-dropdown-trigger.button-s {
  padding-right: @dropdown-trigger-small-right-padding - @border-width;
}

select.form-select {
  background-color: @white;
}

button.button-dropdown-trigger-symbol {
  min-width: 0;
  width: 40px;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  border-width: 0;
  .type-weak();
  &::before {
    content: none;
  }
}

button.button-dropdown-trigger-no-icon {
  padding-right: (@l - @border-width);
  &::before {
    content: none;
  }
}

button.button-dropdown-trigger-wide {
  width: @dropdown-menu-width * 3/2;
}

button.button-warning {
  border-color: @pink-medium;
  color: @pink-medium-text;
}

button.button-s,
select.form-select-s {
  font-size: @type-s;
  line-height: @l;
  padding: (@xs - @border-width + 1) (@m - @border-width) (@xs - @border-width - 1);
  height: @button-small-height;
  border-radius: @border-radius-small;
}

button[disabled] {
  border-color: @gray-light !important;
  color: @gray-medium !important;
  cursor: default !important;
}

button.button-shrink {
  min-width: 0;
  padding-left: (@s - @border-width);
  padding-right: (@s - @border-width);
  white-space: nowrap;
}

button.button-symbol {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  padding-left: (@s - @border-width);
  padding-right: (@s - @border-width);
  text-align: center !important;
}

button.button-raw {
  padding: 0;
  border: none;
  min-width: 0;
}

button.button-s.button-symbol {
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  padding-left: (@xs - @border-width);
  padding-right: (@xs - @border-width);
}

button.button-subtle {
  border-color: transparent;
  color: inherit;
}

button.button-dropdown-item {
  font-size: @type-s;
  line-height: @l;
  padding-left: (@s - @border-width);
  padding-right: (@s - @border-width);
  border-color: transparent !important;
  color: inherit;
  text-align: left;
  height: auto;
  min-height: 32px;
  transition: none !important;
}

button:focus,
a.button:focus {
  outline: none;
  border-color: @blue-dark;
  border-width: @border-width-thick;
  padding: (@s - @border-width-thick + 1) (@l - @border-width-thick) (@s - @border-width-thick - 1);
}

button.button-dropdown-item:focus,
button.button-dropdown-item:hover,
button.button-dropdown-item-hover {
  padding-left: (@s - @border-width);
  padding-right: (@s - @border-width);
  background-color: @blue-medium;
  color: white;
}

button.button-dropdown-trigger:focus,
button.button-dropdown-trigger-menu-open,
select.form-select:focus {
  z-index: 11;
  outline: none;
  padding: (@s - @border-width-thick + 1) (@l - @border-width-thick) (@s - @border-width-thick - 1);
  padding-right: @dropdown-trigger-right-padding - @border-width-thick;
  color: @black;
  background-color: white;
  border-width: @border-width-thick;
  border-color: @border-color-dropdown;
  &::before {
    right: @border-width - @border-width-thick;
  }
}

button.button-dropdown-trigger.button-s:focus,
button.button-dropdown-trigger-menu-open.button-s {
  padding-top: (@xs - @border-width-thick + 1);
  padding-left: (@m - @border-width-thick);
  padding-right: @dropdown-trigger-small-right-padding - @border-width-thick;
  padding-bottom: (@xs - @border-width-thick - 1);
}

button.button-dropdown-trigger-menu-open,
button.button-dropdown-trigger-menu-open:focus {
  color: @gray-medium;
  border-color: @border-color;
  border-radius: @border-radius @border-radius 0 0;
  border-bottom-width: 0 !important;
}

button.button-dropdown-trigger-menu-above.button-dropdown-trigger-menu-open {
  border-radius: 0 0 @border-radius @border-radius;
  border-top-width: 0 !important;
  border-bottom-width: @border-width-thick !important;
}

button.button-dropdown-trigger-symbol:focus,
button.button-dropdown-trigger-symbol.button-dropdown-trigger-menu-open {
  padding-left: 0;
  padding-right: 0;
}

button.button-dropdown-trigger-no-icon:focus,
button.button-dropdown-trigger-no-icon.button-dropdown-trigger-menu-open {
  padding-right: (@l - @border-width-thick);
}

button.button-warning:focus {
  border-color: @pink-dark;
}

button.button-s:focus {
  padding: (@xs - @border-width-thick + 1) (@m - @border-width-thick) (@xs - @border-width-thick - 1);
}

button.button-subtle:focus {
  border-color: currentColor !important;
}

button.button-dropdown-trigger-menu-open:focus {
  border-color: @border-color !important;
}

button.button-shrink:focus,
button.button-symbol:focus {
  padding-left: (@s - @border-width-thick) !important;
  padding-right: (@s - @border-width-thick) !important;
}

button.button-s.button-symbol:focus {
  padding-left: (@xs - @border-width-thick) !important;
  padding-right: (@xs - @border-width-thick) !important;
}

button.button-raw:focus {
  padding: 0;
  color: @blue-medium-alt;
}

button:active {
  background-color: @black-translucent;
  border-color: @blue-dark;
}

button.button-warning:active {
  border-color: @pink-dark;
}

button.button-subtle:active {
  border-color: @blue-dark !important;
}

button.button-raw:active {
  border: none;
  background-color: transparent;
  color: @blue-dark;
}

button.button-none,
button.button-none:focus,
button.button-none:active {
  background-color: transparent;
  border-width: 0;
  padding: 0;
  min-width: 0;
  color: inherit;
  height: auto;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
}

button.button-primary,
button.button-error {
  font-weight: 600;
  color: @white;
  .light-antialiasing();
}

button.button-primary {
  background-color: @blue-medium;
  border-color: @blue-medium;
}

button.button-primary:focus {
  background-color: @blue-medium;
  border-color: @blue-dark;
}

button.button-primary:active {
  background-color: @blue-dark;
  border-color: @blue-dark;
  color: @white;
}

button.button-error {
  background-color: @pink-medium;
  border-color: @pink-medium;
}

button.button-error:focus {
  background-color: @pink-medium;
  border-color: @pink-dark;
}

button.button-error:active {
  background-color: @pink-dark;
  border-color: @pink-dark;
  color: @white;
}

button.button-help-toggled {
  background-color: @blue-lighter;
}

button.button-help-toggled:focus {
  background-color: @blue-lighter;
}

button.button-help-toggled:active {
  background-color: @blue-dark;
  color: @white;
}

button.button-primary[disabled],
button.button-error[disabled],
button.button-help-toggled[disabled] {
  background-color: @gray-light !important;
  border-color: @gray-light !important;
  color: @white !important;
}

.button-labels {
  display: block;
  position: relative;
}

.button-activated-label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}

/* Note this technique requires the activated label to be shorter than the normal label */
button.button-activated {
  .button-activated-label {
    display: block;
  }
  .button-normal-label {
    visibility: hidden;
  }
}

/* Popup */

.popup {
  position: absolute;
  .position-z-popup();
}

.popup-shadow {
  box-shadow: 0 1px 10px @black-translucent;
}

/* Dropdown menu */

.popup-dropdown-menu {
  background-color: @white;
  border: @border-width-thick solid @border-color;
  border-radius: 0 0 @border-radius @border-radius;
  .popup-shadow();
  width: @dropdown-menu-width;
  box-sizing: border-box;
  top: -2px;
  left: 0;
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;

    > button {
      width: 100%;
      border-radius: 0;
    }

    &:last-child > button {
      border-bottom-left-radius: @border-radius - @border-width-thick;
      border-bottom-right-radius: @border-radius - @border-width-thick;
    }
  }
}

.popup-dropdown-menu-wide {
  width: @dropdown-menu-width * 3/2;
}

.popup-dropdown-menu-right {
  left: auto;
  right: 0;
}

.popup-dropdown-menu-above {
  top: auto;
  bottom: 38px;
  border-radius: @border-radius @border-radius 0 0;
  li {
    &:first-child > button {
      border-top-left-radius: @border-radius - @border-width-thick;
      border-top-right-radius: @border-radius - @border-width-thick;
    }
    &:last-child > button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

/* Visibility */

.visibility {
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.visibility-hidden {
  visibility: hidden;
  opacity: 0;
}

.visibility-visible {
  visibility: visible;
  opacity: 1;
}

.display-none {
  display: none !important;
}

@media (min-width: (@mobile-max-width + 1)) {
  .mobile-display-only {
    display: none !important;
  }
}

@media (max-width: @mobile-max-width) {
  .mobile-display-none {
    display: none !important;
  }
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.display-ellipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.display-limit-width {
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.fade-in {
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
      -ms-animation: fadein 0.2s; /* Internet Explorer */
          animation: fadein 0.2s;
}

.blink-twice {
  -webkit-animation: blink 0.4s;
      -ms-animation: blink 0.4s;
          animation: blink 0.4s;
}

.pulse {
 -webkit-animation: pulse 2s ease 0s infinite;
     -ms-animation: pulse 2s ease 0s infinite;
         animation: pulse 2s ease 0s infinite;
}

@keyframes fadein {
  from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
    to { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes blink {
  0% {
    background-color: @black;
    color: @white;
  } 33% {
    background-color: transparent;
    color: inherit;
  } 66% {
    background-color: @black;
    color: @white;
  } 100% {
    background-color: transparent;
    color: inherit;
  }
}

@-webkit-keyframes blink {
  0% {
    background-color: @black;
    color: @white;
  } 33% {
    background-color: transparent;
    color: inherit;
  } 66% {
    background-color: @black;
    color: @white;
  } 100% {
    background-color: transparent;
    color: inherit;
  }
}

@-ms-keyframes blink {
  0% {
    background-color: @black;
    color: @white;
  } 33% {
    background-color: transparent;
    color: inherit;
  } 66% {
    background-color: @black;
    color: @white;
  } 100% {
    background-color: transparent;
    color: inherit;
  }
}

@keyframes pulse {
    0% { opacity: 1; }
   50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@-webkit-keyframes pulse {
    0% { opacity: 1; }
   50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@-ms-keyframes pulse {
    0% { opacity: 1; }
   50% { opacity: 0.5; }
  100% { opacity: 1; }
}

/* Positioning */

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-top-left {
  top: 0;
  left: 0;
}

.position-top-right {
  top: 0;
  right: 0;
}

.position-fixed-full {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.position-fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
}

.position-z-above {
  z-index: 1;
}

.position-z-popup {
  z-index: 10;
}

.position-z-popup-trigger {
  z-index: 11;
}

.position-z-almost-front {
  z-index: 999;
}

.position-z-front {
  z-index: 1000;
}

@media (max-width: @mobile-max-width) {
  .mobile-position-fixed {
    position: fixed;
  }

  .mobile-position-fixed-full {
    .position-fixed-bottom;
    .position-z-front;
    box-sizing: border-box;
    overflow: auto;
  }
}
/* Normal content style */

.content {
  .bg-lightest();
  padding-bottom: @xxl;
}

/* CodeMirror extension styles */

.CodeMirror-lint-markers {
  width: 16px;
}

.CodeMirror-lint-marker-error,
.CodeMirror-lint-marker-warning {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: @xl;
  position: relative;
}

.CodeMirror-lint-marker-warning {
  background-color: @yellow-light;
}

.CodeMirror-lint-marker-error {
  background-color: @pink-medium;
}

.CodeMirror-lint-marker-error:before,
.CodeMirror-lint-marker-warning:before {
  content: "·";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  .type-s();
  .type-weak();
}

.CodeMirror-lint-marker-error:before {
  color: @white;
}

.CodeMirror-lint-tooltip {
  .box-help();
  .popup-shadow();
  .type-s();
  padding: 0;
  overflow: hidden;
  position: fixed;
  white-space: pre;
  white-space: pre-wrap;
  z-index: 100;
  max-width: 600px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.CodeMirror-lint-message-error {
  border-left: @xs solid @pink-medium;
  padding: @xs @s;
}

.CodeMirror-lint-message-warning {
  border-left: @xs solid @yellow-light;
  padding: @xs @s;
}
