/* Measurements */
@xxs: 2px;
@xs: 4px;
@s: 8px;
@m: 12px;
@l: 16px;
@xl: 24px;

@type-m: 18px;

@border-width: @xxs;
@border-radius: @s;

/* Colors */
@gray-lightest: hsl(231, 15%, 97%);
@blue-darkest: hsl(231, 71%, 20%);
@blue-dark: hsl(231, 71%, 42%);
@blue-medium: hsl(231, 97%, 64%);
@blue-faded: hsl(231, 15%, 75%);
@pink-medium: hsl(341, 93%, 65%);
@green-light: hsl(127, 93%, 63%);

* {
  font-family: 'Brix Sans Regular', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
}

body {
  margin: 0;
  background-color: @gray-lightest;
  font-size: @type-m;
  line-height: @xl;
}

.container {
  box-sizing: border-box;
  max-width: 744px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 0 0 @m 0;
}

/* Margin utilities */

.mbm {
  margin-bottom: @m;
}

.mbl {
  margin-bottom: @l;
}

.mbxl {
  margin-bottom: @xl;
}

/* Padding utilities */

.ptxl {
  padding-top: @xl !important;
}

.pam {
  padding: @m;
}

.prs {
  padding-right: @m;
}

.bg-blue-dark {
  background-color: @blue-darkest;
}

.type-pink {
  color: @pink-medium;
}

.type-green {
  color: @green-light;
}

.type-white {
  color: white;
}

.logo {
  font-size: @xl;
  line-height: @xl;
}

.logo-symbol {
  vertical-align: middle;
}

.logo-type {
  vertical-align: 2px;
}

/* Forms */

.form-field-group {
  .mbxl();
}

input, button, select, textarea, .form-field {
  font-size: 1rem;
  line-height: 1.5em;
}

.form-field {
  border-width: @border-width;
  border-style: solid;
  border-color: @blue-faded;
  border-radius: @border-radius;
}

.form-input {
  padding-left: @xs;
  padding-right: @xs;
  .form-field();
  width: 100%;
  box-sizing: border-box;
}

.grouped-inputs {
  .form-input {
    border-radius: 0;
    border-bottom-width: 0;
  }
  .form-input:first-child {
    border-radius: @border-radius @border-radius 0 0;
  }
  .form-input:last-child {
    border-bottom-width: @border-width;
    border-radius: 0 0 @border-radius @border-radius;
  }
}

.CodeMirror {
  font-family: 'Source Code Pro';
  border-radius: @border-radius;
}

button {
  font-weight: 600;
  background-color: @blue-medium;
  color: white;
  padding: @s @l;
  border-radius: @border-radius;
  border: none;
}

button:focus {
  outline: none;
  text-decoration: underline;
}

button:active {
  text-decoration: none;
  background-color: @blue-dark;
}
