@import (reference) "measurements";
@import (reference) "borders";

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 0;
}

td {
  vertical-align: top;
}

th {
  vertical-align: bottom;
}

table.border {
  border: 0;
  td, th {
    border-bottom: @border-width @border-color solid;
    padding-top: @s;
    padding-bottom: @s;
  }
  tr:last-child td {
    border-bottom-width: 0;
  }
}

table.column-space {
  td, th {
    padding-right: @s;
  }
  td:last-child, th:last-child {
    padding-right: 0;
  }
}
