@import (reference) "measurements";
@import (reference) "colors";

p {
  margin: 0 0 @m 0;
}

.light-antialiasing() {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

b, .type-bold {
  font-weight: 700;
}

.type-semibold {
  font-weight: 600;
}

.type-regular {
  font-weight: 400;
}

.type-light {
  font-weight: 300;
}

.type-l {
  font-size: @type-l !important;
  line-height: @line-height-l;
}

.type-icon {
  font-size: @type-icon !important;
  line-height: inherit;
}

.type-m {
  font-size: @type-m !important;
  line-height: @line-height-m;
}

.type-s {
  font-size: @type-s !important;
  line-height: @line-height-s;
}

.type-xs {
  font-size: @type-xs !important;
  line-height: @line-height-xs;
}

.type-italic {
  font-style: italic;
}

.type-label {
  .type-xs();
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.type-black {
  color: @black;
}

.type-weak {
  color: @gray-dark !important;
}

.type-disabled {
  color: @gray-medium !important;
}

.type-link {
  color: @blue-medium-text !important;
}

.type-blue-faded {
  color: @blue-faded-dark;
}

.type-pink {
  color: @pink-medium !important;
}

.type-pink-light {
  color: @pink-light !important;
}

.type-green {
  color: @green-text !important;
}

.type-yellow {
  color: @yellow-medium !important;
}

.type-white {
  color: @white !important;
}

.type-monospace {
  font-family: 'Source Code Pro', Menlo, Consolas, monospace;
  font-size: 0.93em;
}

code, pre {
  .type-monospace();
}

.type-strikethrough {
  text-decoration: line-through;
}

.type-l.type-white {
  .light-antialiasing();
}

.type-wrap {
  white-space: normal;
}

.type-wrap-words {
  word-wrap: break-word;
}

pre {
  margin: 0;
}
