@(
  config: ViewConfig,
  dataRoute: Call
)(implicit messages: Messages, r: RequestHeader)

@page.main("GitHub configuration", config, Some(NavItem.teamSettings(config.maybeTargetTeamId))) {
  <div id="content" class="content flex-row-cascade">
    <div id="githubConfig" class="flex-row-cascade"></div>

    <script src='@config.assets.getWebpackBundle("vendor.js")'></script>
    <script src="@dataRoute"></script>
    <script src='@config.assets.getWebpackBundle("githubConfig.js")'></script>
  </div>
}
