@import models.team.Team
@import java.time.format.DateTimeFormatter
@import java.time.LocalDateTime
@import java.time.ZoneId

@(config: ViewConfig, teams: Seq[Team], pageCount: Int, pageSize: Int)(implicit messages: Messages, r: RequestHeader)


@page.main("Existing Teams", config) {
  <ul>
  @teams.map { team =>
    <li>
      @team.createdAt.format(DateTimeFormatter.ofPattern("EEE, dd MMM yyyy HH:mm:ss 'GMT'").withLocale(java.util.Locale.ENGLISH).withZone(ZoneId.of("GMT"))),
      <a href="@controllers.routes.ApplicationController.teamHome(team.id).url"> @team.name </a>
      , @team.timeZone
    </li>
  }
  </ul>
}

