@(
  config: ViewConfig,
  maybeTeamId: Option[String],
  maybeBranch: Option[String]
)(implicit messages: Messages, r: RequestHeader)

@page.main("View your skills", config, selectedNav = "skills", bgClass = "bg-blue-lighter") {
  <div id="content" class="content pbn bg-blue-lighter">
    <div id="behaviorListContainer"></div>
    <script src='@config.assets.getUrl("lib/requirejs/require.min.js")'></script>
    <script src='@{routes.ApplicationController.index(maybeTeamId, maybeBranch)}'></script>
    <script src='@config.assets.getUrl("javascripts/behavior_list/loader.js")'></script>
  </div>
}
