@(
  config: ViewConfig,
  behaviorGroups: Seq[json.BehaviorGroupData],
  maybeSlackTeamId: Option[String],
  maybeTeamTimeZone: Option[String],
  maybeBranch: Option[String]
)(implicit messages: Messages, r: RequestHeader)

@import play.api.libs.json._
@import play.filters.csrf._
@import json.Formatting._

@page.main("View your skills", config, selectedNav = "skills", bgClass = "bg-blue-lighter") {
  <div id="content" class="content pbn bg-blue-lighter">
    <div id="behaviorListContainer"></div>
    <script>
      var BehaviorListConfig = {
        containerId: "behaviorListContainer",
        behaviorGroups: @Html(Json.toJson(behaviorGroups).toString),
        csrfToken: "@CSRF.getToken(r).map(_.value)",
        teamId: "@config.maybeTargetTeamId.getOrElse("")",
        slackTeamId: "@maybeSlackTeamId.getOrElse("")",
        teamTimeZone: @Html(Json.toJson(maybeTeamTimeZone).toString),
        branchName: @Html(Json.toJson(maybeBranch).toString)
      };
    </script>
    <script data-main='@RemoteAssets.getUrl("javascripts/behavior_list/loader.js")' src='@RemoteAssets.getUrl("lib/requirejs/require.min.js")'></script>

  </div>
}
