@(
    scopes: String,
    clientId: String,
    redirectUrl: String
    )(implicit r: RequestHeader, m: Messages)

@main("Add to Slack", None) {

  <div id="content" class="content">
    <div class="container ptxxxxl">

      <h1>Add Ellipsis to Slack</h1>

      <p>
      To use Ellipsis, you need to add it to your Slack account. Use the button below to sign in
      with Slack and grant permission to Ellipsis to join your account.
      </p>

      <p>
        @addToSlackButton(scopes, clientId, redirectUrl)
      </p>

    </div>
  </div>
}
