@(
  activeTab: String,
  teamAccess: models.accounts.user.UserTeamAccess
)

@tabClassFor(tabId: String) = @{
  if (tabId == activeTab) {
    "tab tab-active"
  } else {
    "tab"
  }
}
<div class="bg-light">
  <div class="container container-c">
    <div class="columns ptl">
      <div class="column column-right align-r">
        <a href='@routes.BehaviorEditorController.newForNormalBehavior(teamAccess.maybeAdminAccessToTeamId)' class="button">Teach Ellipsis something new</a>
      </div>
      <div class="column mtl">
        <div class="tabs">
          <a class='@tabClassFor("view")' href="@routes.ApplicationController.index(teamAccess.maybeAdminAccessToTeamId)">View your skills</a>
          <a class='@tabClassFor("install")' href="@routes.ApplicationController.installBehaviors(teamAccess.maybeAdminAccessToTeamId)">Install skills</a>
        </div>
      </div>
    </div>
  </div>
</div>
