@(
  teamAccess: models.accounts.user.UserTeamAccess,
  dataTypes: Seq[models.behaviors.behaviorparameter.BehaviorBackedDataType]
)(implicit messages: Messages, r: RequestHeader)

@main("Data types", Some(teamAccess)) {
  <div id="content" class="content">
    <div class="bg-blue-medium pvxxl border-emphasis-bottom border-blue bg-large-logo">
      <div class="container">
        <p class="type-l type-white">
          Data types
        </p>
      </div>
    </div>
    <ul>
    @dataTypes.map { ea =>
      <li>
        <a href="@routes.BehaviorEditorController.edit(ea.behavior.id)">@ea.name</a>
      </li>
    }
    </ul>
  </div>
}
