@(
  config: ViewConfig,
  behaviorGroups: Seq[json.BehaviorGroupData],
  installedBehaviorGroups: Seq[json.InstalledBehaviorGroupData],
  maybeSlackTeamId: Option[String]
)(implicit messages: Messages, r: RequestHeader)

@import play.filters.csrf._
@import play.api.libs.json._
@import json.Formatting._

<script>
  var BehaviorGroupImporterConfig = {
    teamId: '@config.maybeTargetTeamId.getOrElse("")',
    installedBehaviorGroups: @Html(Json.toJson(installedBehaviorGroups).toString),
    containerId: 'importerContainer',
    csrfToken: "@CSRF.getToken(r).map(_.value)",
    behaviorGroups: @Html(Json.toJson(behaviorGroups).toString),
    slackTeamId: '@maybeSlackTeamId.getOrElse("")'
  };
</script>
