@(
  maybeUser: Option[models.accounts.User],
  config: models.accounts.CustomOAuth2Configuration,
  team: models.Team
  )(implicit messages: Messages, r: RequestHeader)

@import helper._

@main("Configure API access", maybeUser, Some(team)) {

  <div id="content" class="content">
    <div class="container ptxxxxl">
      <h1>Add a new OAuth2 configuration:</h1>

      <form action="@routes.ApplicationController.saveCustomOAuth2Configuration()" method="POST">
        @CSRF.formField
        <input type="hidden" name="teamId" value="@team.id"/>
        <input type="hidden" name="templateId" value="@config.template.id"/>

        <div class="columns">
          <div class="column column-one-third align-r">Configure for API access on:</div>
          <div class="column column-one-half">
            @config.template.name
          </div>
        </div>

        @customOAuth2ConfigurationField("Client ID of your application", "clientId", Some(config.clientId))
        @customOAuth2ConfigurationField("Client secret of your application", "clientSecret", Some(config.clientSecret))
        @customOAuth2ConfigurationField("Scope of the access you want to request", "scope", config.maybeScope)
        <div class="columns">
          <div class="column column-one-third align-r">&nbsp;</div>
          <div class="column column-one-half">
            <input type="submit" value="Save"/>
          </div>
        </div>
      </form>

      <p>Set the redirect URL in your @config.template.name API settings to:</p>
      <p>
        <input
          type="text"
          readonly="readonly"
          size="100"
          value="@routes.SocialAuthController.linkCustomOAuth2Service(config.id, config.teamId, None).absoluteURL(secure = true)"
        />
      </p>

    </div>
  </div>
}
