@(
  maybeUser: Option[models.accounts.User],
  team: models.Team,
  maybeConfig: Option[models.accounts.CustomOAuth2Configuration],
  maybeTemplate: Option[models.accounts.CustomOAuth2ConfigurationTemplate]
  )(implicit messages: Messages, r: RequestHeader)

@import helper._

@main("Import a behavior", maybeUser, Some(team)) {

  <div id="content" class="content">
    <div class="container ptxxxxl">
      <h1>Add a new OAuth2 configuration:</h1>

      <form action="@routes.ApplicationController.saveCustomOAuth2Configuration()" method="POST" enctype="multipart/form-data">
        @CSRF.formField
        <input type="hidden" name="teamId" value="@team.id"/>
        @customOAuth2ConfigurationField("Name of the external system", "name", maybeConfig.map(_.name).orElse(maybeTemplate.map(_.name)))
        @customOAuth2ConfigurationField("Authorization URL", "authorizationUrl", maybeConfig.map(_.authorizationUrl).orElse(maybeTemplate.map(_.authorizationUrl)))
        @customOAuth2ConfigurationField("Access token URL", "accessTokenUrl", maybeConfig.map(_.accessTokenUrl).orElse(maybeTemplate.map(_.accessTokenUrl)))
        @customOAuth2ConfigurationField("URL to fetch info about logged-in user", "getProfileUrl", maybeConfig.map(_.getProfileUrl).orElse(maybeTemplate.map(_.getProfileUrl)))
        @customOAuth2ConfigurationField("Path of user ID in JSON response", "getProfileJsonPath", maybeConfig.map(_.getProfileJsonPath).orElse(maybeTemplate.map(_.getProfileJsonPath)))
        @customOAuth2ConfigurationField("Client ID of your application", "clientId", maybeConfig.map(_.clientId))
        @customOAuth2ConfigurationField("Client secret of your application", "clientSecret", maybeConfig.map(_.clientSecret))
        @customOAuth2ConfigurationField("Scope of the access you want to request", "scope", maybeConfig.flatMap(_.maybeScope))
        <div class="columns">
          <div class="column column-one-third align-r">&nbsp;</div>
          <div class="column column-one-half">
            <input type="submit" value="Save"/>
          </div>
        </div>
      </form>

    </div>
  </div>
}
