@(
  json: String
    )(implicit messages: Messages)

@main("Ellipsis behavior editor") {

  <div id="content" class="content">
    <div class="container ptxl pbm">
      <div id="editorContainer"></div>
      <script type='text/javascript' src='@routes.Assets.versioned("javascripts/behavior_editor.js")'></script>
      <script>
        var myBehaviorEditor = React.createElement(BehaviorEditor, @Html(json));
        ReactDOM.render(myBehaviorEditor, document.getElementById('editorContainer'));
      </script>
    </div>
  </div>
}
