@(
  teamAccess: models.accounts.UserTeamAccess,
  json: String,
  envVariablesJson: String,
  oauth2ApplicationsJson: String,
  oauth2ApisJson: String,
  justSaved: Boolean,
  notificationsJson: String
    )(implicit messages: Messages, r: RequestHeader)

@import play.filters.csrf._

@main("Ellipsis behavior editor", Some(teamAccess)) {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.ApplicationController.regexValidationErrorsFor,
    routes.javascript.ApplicationController.versionInfoFor,
    routes.javascript.EnvironmentVariablesController.submit,
    routes.javascript.OAuth2ApplicationController.newApp
  )
  <div id="content" class="content">
    <div>
      <div id="editorContainer"></div>
      <script src='@RemoteAssets.getUrl("lib/jshint/dist/jshint.js")'></script>
      <script>
        var BehaviorEditorConfiguration = {
          data: @Html(json),
          containerId: 'editorContainer',
          csrfToken: "@CSRF.getToken(r).map(_.value)",
          justSaved: @justSaved,
          envVariables: @Html(envVariablesJson),
          oauth2Applications: @Html(oauth2ApplicationsJson),
          oauth2Apis: @Html(oauth2ApisJson),
          notifications: @Html(notificationsJson)
        };
      </script>
      <script data-main='@RemoteAssets.getUrl("javascripts/behavior_editor/loader.js")' src='@RemoteAssets.getUrl("lib/requirejs/require.min.js")'></script>
    </div>
  </div>
}
