@(
  data: json.BehaviorEditorData
)(implicit messages: Messages, r: RequestHeader)

@import play.filters.csrf._
@import play.api.libs.json._
@import json.Formatting._
@titleForBehaviorData(behaviorData: json.BehaviorEditorData) = @{
  if (behaviorData.isForDataType) {
    "Edit data type"
  } else {
    "Edit skill"
  }
}
@main(titleForBehaviorData(data), Some(data.teamAccess)) {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.BehaviorEditorController.edit,
    routes.javascript.BehaviorEditorController.save,
    routes.javascript.BehaviorEditorController.regexValidationErrorsFor,
    routes.javascript.BehaviorEditorController.versionInfoFor,
    routes.javascript.BehaviorEditorController.testTriggers,
    routes.javascript.BehaviorEditorController.testInvocation,
    routes.javascript.BehaviorEditorController.newForNormalBehavior,
    routes.javascript.BehaviorEditorController.newForDataType,
    routes.javascript.BehaviorEditorController.saveBehaviorGroupName,
    routes.javascript.BehaviorEditorController.saveBehaviorGroupDescription,
    routes.javascript.EnvironmentVariablesController.submit,
    routes.javascript.OAuth2ApplicationController.newApp,
    routes.javascript.APIAccessController.linkCustomOAuth2Service,
    routes.javascript.BehaviorImportExportController.export
  )
  <div id="content" class="content">
    <div>
      <div id="editorContainer"></div>
      <script src='@RemoteAssets.getUrl("lib/jshint/dist/jshint.js")'></script>
      <script>
        var BehaviorEditorConfiguration = {
          data: @Html(Json.toJson(data.behaviorVersion).toString),
          containerId: 'editorContainer',
          csrfToken: "@CSRF.getToken(r).map(_.value)",
          justSaved: @data.justSaved,
          envVariables: @Html(Json.toJson(data.environmentVariables).toString),
          otherBehaviorsInGroup: @Html(Json.toJson(data.otherBehaviorsInGroup).toString),
          paramTypes: @Html(Json.toJson(data.paramTypes).toString),
          oauth2Applications: @Html(Json.toJson(data.oauth2Applications).toString),
          oauth2Apis: @Html(Json.toJson(data.oauth2Apis).toString),
          simpleTokenApis: @Html(Json.toJson(data.simpleTokenApis).toString),
          linkedOAuth2ApplicationIds: @Html(Json.toJson(data.linkedOAuth2ApplicationIds).toString),
          notifications: [],
        };
      </script>
      <script data-main='@RemoteAssets.getUrl("javascripts/behavior_editor/loader.js")' src='@RemoteAssets.getUrl("lib/requirejs/require.min.js")'></script>
    </div>
  </div>
}
