@(
  config: ViewConfig
  )(implicit messages: Messages, r: RequestHeader)

@import helper._

@main("Import a skill", config) {

  <div id="content" class="content">
    <div class="container ptxxxxl">
      <h1>Import a skill(for testing)</h1>

      <p>
        Upload an exported zip:
      </p>

      <form action="@routes.BehaviorImportExportController.doImportZip()" method="POST" enctype="multipart/form-data">
        @CSRF.formField
        <input type="hidden" name="teamId" value="@config.maybeTargetTeamId.getOrElse("")"/>
        <input type="file" name="zipFile">
        <div class="actions">
          <input type="submit" value="Import"/>
        </div>
      </form>

    </div>
  </div>
}
