@(
  maybeUser: Option[models.accounts.User],
  team: Team,
  behaviorVersions: Seq[json.BehaviorVersionData]
)(implicit messages: Messages, r: RequestHeader)

@import play.api.libs.json._
@import json.Formatting._

@main("Ellipsis behavior editor", maybeUser) {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.ApplicationController.editBehavior
  )
  <div id="content" class="content">
    @views.html.behaviorTabs("view", team)

    <div class="bg-white">
      <div class="container pvxxl">

        <div id="behaviorListContainer"></div>
        <script>
          var BehaviorListConfig = {
            containerId: 'behaviorListContainer',
            behaviorVersions: @Html(Json.toJson(behaviorVersions).toString)
          };
        </script>
        <script data-main='@routes.Assets.versioned("javascripts/behavior_list/loader.js")' src='@routes.Assets.versioned("lib/requirejs/require.min.js")'></script>

      </div>
    </div>
  </div>
}
