@()(implicit messages: Messages, r: RequestHeader)

@main("Ellipsis behavior editor") {

  <div id="content" class="content">
    <div class="container ptxxxxl">
      <h1>Welcome to Ellipsis</h1>

      <p>
      The main way to use Ellipsis is through chat, but you can also modify Ellipsis here.
      </p>

      <h3>Behaviors</h3>
      <p>
      A behavior is something that your bot does or says when prompted with the right words. You can
      see what behaviors your bot knows, modify them, and program new ones.
      </p>

      <h3>Configuration</h3>

      <p>
      If you want to make any configuration data generally available for use in your behaviors,
      you can add or modify it here. This is a good way to provide re-usable credentials so that
      Ellipsis can integrate with other services to retrieve or modify data.
      </p>

    </div>
  </div>
}
