@(
  maybeUser: Option[models.accounts.User],
  team: Team,
  behaviorCategories: Seq[json.BehaviorCategory],
  installedBehaviors: Seq[json.InstalledBehaviorData]
  )(implicit messages: Messages, r: RequestHeader)

@import play.filters.csrf._
@import play.api.libs.json._
@import json.Formatting._

@main("Welcome to Ellipsis", maybeUser, "intro") {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.ApplicationController.doImportBehavior,
    routes.javascript.ApplicationController.editBehavior
  )
  <div id="content" class="content">
    <div class="bg-blue-medium pvxxl border-emphasis-bottom border-blue bg-large-logo">
      <div class="container">
        <p class="type-l type-white">
          Ellipsis is a customizable chat bot that helps your team be more productive.
          Teach your bot to do tasks and provide answers in response to your prompts.
        </p>
      </div>
    </div>

    <div class="container mtxxl">

      <div class="columns">
        <div class="column column-one-quarter form-field-group mts">
          <h3 class="type-weak">To get started…</h3>

          <h4 class="position-relative">
            <span class="position-relative position-z-above bg-lightest prl">
              Install some behaviors
            </span>
            <div class="arrow-right"></div>
          </h4>

          <h4>Or else <a href='@routes.ApplicationController.newBehavior()'>teach Ellipsis something brand new.</a></h4>

          <ul class="type-s list-space-s checklist type-weak">
            <li>Behaviors instruct your bot how to do repetitive or cumbersome tasks, and what
              important information to remember, along with what should trigger a response.</li>

            <li>Each behavior can run node.js code to produce a result, or simply respond with text.</li>
          </ul>
        </div>
        <div class="column column-three-quarters plxxl">
          <div class="bg-white border border-radius phxl pbxl">
            <div id="importerContainer"></div>
          </div>
        </div>
      </div>
    </div>
    <script>
        var BehaviorImporterConfig = {
          installedBehaviors: @Html(Json.toJson(installedBehaviors).toString),
          containerId: 'importerContainer',
          csrfToken: "@CSRF.getToken(r).map(_.value)",
          behaviorGroups: @Html(Json.toJson(behaviorCategories).toString)
        };
      </script>
    <script data-main='@routes.Assets.versioned("javascripts/behavior_importer/loader.js")' src='@routes.Assets.versioned("lib/requirejs/require.min.js")'></script>
  </div>
}
