@(
  teamAccess: models.accounts.UserTeamAccess,
  apis: Seq[json.OAuth2ApiData]
  )(implicit messages: Messages, r: RequestHeader)

@import play.filters.csrf._
@import play.api.libs.json._
@import json.Formatting._

@main("API applications", Some(teamAccess)) {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.ApplicationController.newOAuth2Application,
    routes.javascript.ApplicationController.editOAuth2Application
  )
  <div id="content" class="content">
    <div id="applicationList"></div>
    <script>
      var ApplicationListConfig = {
        containerId: 'applicationList',
        csrfToken: "@CSRF.getToken(r).map(_.value)",
        teamId: "@teamAccess.maybeTargetTeam.map(_.id)",
        apis: @Html(Json.toJson(apis).toString)
      };
    </script>
    <script data-main='@RemoteAssets.getUrl("javascripts/application_list/loader.js")' src='@RemoteAssets.getUrl("lib/requirejs/require.min.js")'></script>
  </div>
}
