@(
  maybeTeamAccess: Option[models.accounts.user.UserTeamAccess],
  selectedNav: String
)(implicit r: RequestHeader)
@tabClassFor(tabId: String) = @{
  if (tabId == selectedNav) {
    "link-light display-inline-block align-button border-emphasis-bottom border-pink mhs pbs mobile-pbxs"
  } else {
    "link-light display-inline-block align-button mhs pbm mobile-pbs"
  }
}
<div class="columns columns-elastic">
  <div class="column column-expand pts mobile-ptxs">
    <a class="link-pink display-inline-block align-b mrs"
      href='@routes.ApplicationController.index(maybeTeamAccess.flatMap(_.maybeAdminAccessToTeamId))'>
      @if(maybeTeamAccess.exists(_.isAdminAccess)) {
        <div class="type-l mobile-ptxs pbxs">👻</div>
      } else {
        <div class="mobile-display-none" style="height: 40px">@views.html.logo()</div>
        <div class="mobile-display-only" style="height: 36px">@views.html.logoSymbol()</div>
      }
    </a>

    <a class="@tabClassFor("skills")"
      href='@routes.ApplicationController.index(maybeTeamAccess.flatMap(_.maybeAdminAccessToTeamId))'>
      Skills
    </a>

    <a class="@tabClassFor("settings")"
      href='@routes.EnvironmentVariablesController.list(maybeTeamAccess.flatMap(_.maybeAdminAccessToTeamId))'>
      Settings
    </a>
  </div>
  @maybeTeamAccess.map { teamAccess => @views.html.teamMenu(teamAccess) }
</div>
