@(
  title: String,
  maybeTeamAccess: Option[models.accounts.user.UserTeamAccess],
  pageId: String = ""
  )(content: Html)(implicit messages: Messages, r: RequestHeader)

@navBorderColorForPage = @{if (pageId == "intro") " border-blue-medium " else " border-pink "}
@navBgColorForPage = @{if (maybeTeamAccess.exists(_.isAdminAccess)) " bg-pink " else " bg-blue-dark "}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ellipsis · @title</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:400,300,600,400italic,300italic,600italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='@RemoteAssets.getUrl("stylesheets/main.css")'>
    <!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
    <!--[if IE]><link rel="shortcut icon" href="/assets/images/favicon.ico"><![endif]-->

    <!-- IE 10+ "Metro" Tiles - 144x144 pixels in size icon should be transparent -->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/assets/images/favicon-144x144.png">

    <!-- Touch Icons - iOS and Android 2.1+ 152x152 pixels in size. -->
    <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon-apple-152x152.png">

    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 96x96 pixels in size. -->
    <link rel="icon" href="/assets/images/favicon-256x256.png" sizes="256x256">
    <link rel="icon" href="/assets/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" href="/assets/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="/assets/images/favicon-16x16.png" sizes="16x16">
  </head>
  <body class="bg-lightest flex-rows flex-rows-viewport">
    <header class='@("border-emphasis-bottom type-white " + navBgColorForPage + navBorderColorForPage)'>
      <div class="container">
        @views.html.mainNav(maybeTeamAccess)
      </div>
    </header>
    <script>
      requirejs = {
        paths: {
          '../common': '@RemoteAssets.getUrl("javascripts/common.js").replaceFirst("\\.js$", "")'
        }
      };
    </script>
    @content
  </body>
  <script>window.document.body.addEventListener('touchstart', function() {})</script>
</html>
