@(
    title: String,
    user: Option[models.accounts.User] = None
    )(content: Html)(implicit messages: Messages)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <title>@title</title>
    <link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
    <link rel="stylesheet" href="@routes.Assets.versioned("styles/main.css")">
  </head>
  <body>
    @content
  </body>
</html>
