@(
  maybeUser: Option[models.accounts.User],
  team: models.Team,
  templates: Seq[models.accounts.CustomOAuth2ConfigurationTemplate]
  )(implicit messages: Messages, r: RequestHeader)

@import helper._

@main("Configure API access", maybeUser, Some(team)) {

  <div id="content" class="content">
    <div class="container ptxxxxl">
      <h1>Add a new OAuth2 configuration:</h1>

      <form action="@routes.ApplicationController.saveCustomOAuth2Configuration()" method="POST">
        @CSRF.formField
        <input type="hidden" name="teamId" value="@team.id"/>

        <div class="columns">
          <div class="column column-one-third align-r">Configure for API access to:</div>
          <div class="column column-one-half">
            <select name="templateId">
            @templates.map { ea =>
              <option value="@ea.id">@ea.name</option>
            }
            </select>
          </div>
        </div>

        @customOAuth2ConfigurationField("Client ID of your application", "clientId", None)
        @customOAuth2ConfigurationField("Client secret of your application", "clientSecret", None)
        @customOAuth2ConfigurationField("Scope of the access you want to request", "scope", None)
        <div class="columns">
          <div class="column column-one-third align-r">&nbsp;</div>
          <div class="column column-one-half">
            <input type="submit" value="Save"/>
          </div>
        </div>
      </form>

    </div>
  </div>
}
