@(
  teamAccess: models.accounts.UserTeamAccess,
  apis: Seq[json.OAuth2ApiData],
  applicationId: String,
  maybeApiId: Option[String]
  )(implicit messages: Messages, r: RequestHeader)

@import play.filters.csrf._
@import play.api.libs.json._
@import json.Formatting._

@main("Add an API application", Some(teamAccess)) {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.ApplicationController.newOAuth2Application,
    routes.javascript.ApplicationController.saveOAuth2Application
  )
  <div id="content" class="content">
    <div id="applicationEditor"></div>
    <script>
      var ApplicationEditorConfig = {
        containerId: 'applicationEditor',
        csrfToken: "@CSRF.getToken(r).map(_.value)",
        teamId: "@teamAccess.maybeTargetTeam.map(_.id)",
        apis: @Html(Json.toJson(apis).toString),
        callbackUrl: "@routes.APIAccessController.linkCustomOAuth2Service(applicationId, None, None, None).absoluteURL(secure = true)",
        applicationId: "@applicationId",
        applicationApiId: "@maybeApiId.getOrElse("")"
      };
    </script>
    <script data-main='@RemoteAssets.getUrl("javascripts/application_editor/loader.js")' src='@RemoteAssets.getUrl("lib/requirejs/require.min.js")'></script>
  </div>
}
