@(
  maybeUser: Option[models.accounts.User],
  maybeApi: Option[models.accounts.OAuth2Api],
  maybeTeam: Option[models.Team]
  )(implicit messages: Messages, r: RequestHeader)

@import helper._

@main("Configure an external API", maybeUser, maybeTeam) {

  <div id="content" class="content">
    <div class="container ptxxxxl">
      <h1>Configure an external API:</h1>

      <form action="@routes.ApplicationController.saveOAuth2Api()" method="POST">
        @CSRF.formField
        @maybeTeam.map { team =>
          <input type="hidden" name="teamId" value="@team.id"/>
        }
        @maybeApi.map { api =>
          <input type="hidden" name="id" value="@api.id"/>
        }
        @oAuth2Field("Name of the external system", "name", maybeApi.map(_.name))
        @oAuth2Field("Authorization URL", "authorizationUrl", maybeApi.map(_.authorizationUrl))
        @oAuth2Field("Access token URL", "accessTokenUrl", maybeApi.map(_.accessTokenUrl))

        <div class="columns">
          <div class="column column-one-third align-r">&nbsp;</div>
          <div class="column column-one-half">
            <input type="submit" value="Save"/>
          </div>
        </div>
      </form>

    </div>
  </div>
}
