@(
  maybeUser: Option[models.accounts.User],
  team: Team,
  behaviorCategories: Seq[json.BehaviorCategory],
  alreadyImportedIds: Seq[String]
  )(implicit messages: Messages, r: RequestHeader)

@import helper._
@import play.api.libs.json._
@import json.Formatting._

@main("Published behaviors", maybeUser) {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.ApplicationController.doImportBehavior
  )
  <script>
    var InstallableBehaviorCategories = @Html(Json.toJson(behaviorCategories).toString);
  </script>
  <div id="content" class="content">
    <div class="bg-light">
      <div class="container ptxxxl pbm">
        <h2 class="type-weak mvn">Install behaviors from Ellipsis</h2>
      </div>
    </div>
    <div class="bg-white">
      <div class="container ">

        @behaviorCategories.map { category =>
          <div class="pvxl">
            <h3 class="border-bottom pbm">
              <span>@category.name</span>
              <span class="type-m type-regular type-weak"> &nbsp; – &nbsp; @category.description</span>
            </h3>
            @category.behaviorVersions.map { ea =>
            <div class="columns columns-elastic mbm">
              <div class="column column-shrink">
                <form action="@routes.ApplicationController.doImportBehavior()" method="POST">
                  @CSRF.formField
                  <input type="hidden" name="teamId" value="@team.id"/>
                  <input type="hidden" name="dataJson" value="@Json.toJson(ea).toString">
                  <button type="submit" class="button-s button-shrink">Install</button>
                </form>
              </div>
              <div class="column column-expand type-s">
                @ea.triggers.map{ trigger =>
                  <span class='type-monospace @{if(trigger ne ea.triggers.head) "type-weak"}'>
                    <span>@trigger.text</span>
                    @if(trigger ne ea.triggers.last) {
                      <span class="type-disabled"> · </span>
                    }
                  </span>
                }
                @if(ea.config.exists { c => alreadyImportedIds.contains(c.publishedId) }) {
                <span class="type-weak mls phs bg-green border border-green border-radius"><span class="type-green">✓</span> Installed</span>
                }
              </div>
            </div>
            }
        }
      </div>
    </div>
  </div>
}
