@(
  config: ViewConfig,
  behaviorGroups: Seq[json.BehaviorGroupData],
  installedBehaviorGroups: Seq[json.InstalledBehaviorGroupData],
  maybeSlackTeamId: Option[String]
  )(implicit messages: Messages, r: RequestHeader)

@main("Install new skills", config, selectedNav = "skills") {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.BehaviorImportExportController.doImport,
    routes.javascript.BehaviorEditorController.editGroup
  )
  <div id="content" class="content bg-white">
    @config.maybeTeamAccess.map(teamAccess => views.html.behaviorTabs("install", teamAccess))
    <div>
      <div class="bg-white container container-c pbxxl">
        <div id="importerContainer"></div>
      </div>
    </div>
    @views.html.behaviorGroupImporterConfig(config, behaviorGroups, installedBehaviorGroups, maybeSlackTeamId)
    <script data-main='@RemoteAssets.getUrl("javascripts/behavior_importer/loader.js")' src='@RemoteAssets.getUrl("lib/requirejs/require.min.js")'></script>
  </div>
}
