@(
    config: ViewConfig,
    scopes: String,
    clientId: String,
    redirectUrl: String
    )(implicit r: RequestHeader, m: Messages)

@main("Sign in with Slack", config) {

  <div id="content" class="content">
    <div class="container ptxxxxl">

      <h1>Sign in to Ellipsis</h1>

      <p>You need to identify yourself to make changes to the bot. Click the button to sign
      in with your @config.maybeTeamAccess.flatMap(_.maybeTargetTeam.map(_.name)).getOrElse("team") Slack account.</p>

      <p>
        @signInWithSlackButton(scopes, clientId, redirectUrl)
      </p>

    </div>
  </div>
}
