@import helper._
@(
  teamAccess: models.accounts.UserTeamAccess
)(implicit r: RequestHeader)
<div class="column column-shrink align-r pts pbxs">
  <form action='@routes.SocialAuthController.signOut()' method="POST" id="main-user-menu-container">
    @CSRF.formField
  <span class="link-light">
    <button class="button-subtle button-dropdown-trigger button-dropdown-trigger-no-icon mobile-phs" type="button" id="main-user-menu-button">
      <span class="display-inline-block align-t">
      @views.html.teamSymbol()
      </span>
      @teamAccess.maybeAdminAccessToTeam.map { team =>
      <span class="type-label display-inline-block align-t ptxs mlxs">
        @team.name
      </span>
      }.getOrElse {
        @teamAccess.maybeTargetTeam.flatMap(_.maybeNonEmptyName.map(name => {
            <span class="type-label display-inline-block align-t ptxs mlxs mobile-display-none">{name}</span>
        })).getOrElse("")
      }
    </button>
  </span>
  <div class="position-relative type-black">
    <ul class="type-s popup popup-dropdown-menu popup-dropdown-menu-right fade-in" id="main-user-menu" style="display: none">
      @teamAccess.loggedInTeam.maybeNonEmptyName.map(name => {
          <li class='type-disabled align-l phs pvxs display-ellipsis'>Signed into {name}</li>
      }).getOrElse("")
    <li><button type="submit" class="button-dropdown-item">Sign out</button></li>
    </ul>
  </div>
  </form>
  <script>
    (function() {
      var userMenuButton = document.getElementById('main-user-menu-button');
      var userMenu = document.getElementById('main-user-menu');
      var addClass = function(el, className) {
        var classes = el.className.replace(/\s+/g, ' ').split(' ');
        if (!classes.find(function(cl) { return cl.trim() === className; })) {
          classes.push(className);
          el.className = classes.join(' ');
        }
      };
      var removeClass = function(el, className) {
        var classes = el.className.replace(/\s+/g, ' ').split(' ');
        var newClasses = classes.filter(function(cl) { return cl !== className; });
        el.className = newClasses.join(' ');
      };
      userMenuButton.addEventListener('click', function(event) {
        var oldStyle = userMenu.style.display;
        userMenu.style.display = oldStyle === 'none' ? '' : 'none';
        if (oldStyle === 'none') {
          addClass(userMenuButton, 'button-dropdown-trigger-menu-open');
        } else {
          removeClass(userMenuButton, 'button-dropdown-trigger-menu-open');
        }
        event.stopPropagation();
        event.preventDefault();
      });
      document.addEventListener('click', function() {
        if (userMenu.style.display !== 'none') {
          userMenu.style.display = 'none';
          removeClass(userMenuButton, 'button-dropdown-trigger-menu-open');
        }
      });
    })();
  </script>
</div>
