<svg width="26px" height="24px" viewBox="0 0 26 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>User</title>
  <defs>
    <rect id="path-1" x="11" y="5" width="14" height="2" rx="1"></rect>
    <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="14" height="2" fill="white">
      <use xlink:href="#path-1"></use>
    </mask>
    <rect id="path-3" x="11" y="11" width="14" height="2" rx="1"></rect>
    <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="14" height="2" fill="white">
      <use xlink:href="#path-3"></use>
    </mask>
    <rect id="path-5" x="11" y="17" width="14" height="2" rx="1"></rect>
    <mask id="mask-6" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="14" height="2" fill="white">
      <use xlink:href="#path-5"></use>
    </mask>
  </defs>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="team">
      <g id="Group" transform="translate(0.400000, 6.000000)" fill="currentColor">
        <g id="Group-2" transform="translate(0.600000, 0.000000)">
          <path d="M5.65417809,0 L3.50045439,0 L1.34673068,0 C0.603142631,0 0,0.616081184 0,1.37642572 L0,6.34851682 C0,7.10839674 0.602915373,7.72494254 1.34627617,7.72494254 L1.67307312,7.72494254 L1.67307312,14.9745826 C1.67307312,15.5602314 2.13781565,16.0357662 2.71118749,16.0357662 L4.28903952,16.0357662 C4.86241135,16.0357662 5.32692663,15.5602314 5.32692663,14.9745826 L5.32692663,7.72494254 L5.65417809,7.72494254 C6.39731163,7.72494254 6.99999974,7.10839674 6.99999974,6.34851682 L6.99999974,1.37642572 C7.00045426,0.616081184 6.39753889,0 5.65417809,0 L5.65417809,0 Z" id="Shape"></path>
        </g>
      </g>
      <use id="Rectangle" stroke="currentColor" mask="url(#mask-2)" stroke-width="2" stroke-linecap="square" fill="#FFFFFF" xlink:href="#path-1"></use>
      <use id="Rectangle-Copy" stroke="currentColor" mask="url(#mask-4)" stroke-width="2" stroke-linecap="square" fill="#FFFFFF" xlink:href="#path-3"></use>
      <use id="Rectangle-Copy-2" stroke="currentColor" mask="url(#mask-6)" stroke-width="2" stroke-linecap="square" fill="#FFFFFF" xlink:href="#path-5"></use>
      <ellipse id="Oval" fill="currentColor" cx="4.5" cy="3.04444444" rx="2" ry="2.04444444"></ellipse>
    </g>
  </g>
</svg>
